[2016-02-29 20:11] mengxr opened #42 "Add GraphFrameReader/Writer to simplify graph import/export"
They should have similar APIs to DataFrameReader/Writer, supporting different data sources with Parquet being the default.

[2016-02-29 20:17] mengxr opened #43 "wrap power iteration clustering"
MLlib implements power iteration clustering. We can add a wrapper in GraphFrames. For example, `g.powerIterationClustering.k(10).maxIter(5).run()` returns a vertex DataFrame with cluster assignments. Note that we fixed a bug in PIC recently. So we might need to copy the implementation from Spark master before the next Spark release, as we did for PageRank.

[2016-02-29 20:28] mengxr opened #44 "Add Java compatibility test for public APIs"
The GraphFrames Scala APIs are designed to be compatible with Java. We should add unit tests to ensure Java compatibility.

[2016-03-01 17:52] jkbradley opened #45 "Sort columns from motif finding"
Motif finding outputs columns in an arbitrary order, but we should sort the columns to match the order of vertices and edges specified in the motif.  That way, if a user writes "(a)-[e]->(b); (b)-[e2]->(c)", then the output columns will be ordered as expected: a, e, b, e2, c.

[2016-03-01 17:54] jkbradley opened #46 "Copy algorithm docs from GraphX"
Current state: We copied the Scala docstrings from GraphX.  We did not copy text from the user guide.

This issue is for copying text from the user guide for the standard library of graph algorithms.

[2016-03-01 17:55] jkbradley opened #47 "Copy general graph docs from GraphX"
This issue is for copying text from GraphX's user guide to GraphFrames' user guide for graphs in general.  There is a separate issue for copying text related to specific algorithms.

[2016-03-01 17:59] jkbradley opened #48 "Add unit tests for GraphFrame-GraphX conversions"
Convert GraphFrame to GraphX and back, and then test:
* structure
* vertex, edge data
* vertex IDs

This should cover a few different graphs to hit edge cases.

[2016-03-01 18:46] jkbradley opened #49 "Consistency checks upon construction"
When GraphFrames are constructed, we do not check that the vertices DataFrame contains all vertices from the edges DataFrame.  We should do that somehow (ideally lazily).

This will likely be a problem for subgraph selection.

[2016-03-01 18:48] jkbradley opened #50 "Clarify special columns in API docs"
We should make it clear what happens when a vertex or edge DataFrame contains a column with a special name.  E.g., what happens when you call PageRank on a graph whose vertices already have a "pagerank" column?  We currently throw an error, but we should be more explicit about this, both in runtime checks in the code and in the API docs.

[2016-03-01 18:50] jkbradley opened #51 "Clean up SVDPlusPlus API"
We should make SVDPlusPlus easier to use.  This means improving the API:
* parameter names
* returned model parameters
* making predictions with the learned model

We should also improve the documentation.

[2016-03-05 22:17] anand-singh opened #54 "Maven Repository?"

[2016-03-07 23:11] jkbradley commented on #54
Spark packages [http://spark-packages.org/package/graphframes/graphframes] has its own Maven repository.  Hopefully that works for you!

[2016-03-07 23:11] #54 closed

[2016-03-08 00:09] napsternxg opened #56 "Py4JJavaError: An error occurred while calling o57.find."
I am using `graphframes:graphframes:0.1.0-spark1.6` from the **pyspark** interface with **current master build of Spark**. I get the following error when I am trying to use the `g.find` functions and other functions as shown in the example notebook at: http://go.databricks.com/hubfs/notebooks/3-GraphFrames-User-Guide-python.html

[code]

Also, when using the function BFS, ConnectedComponents, Labe

[2016-03-09 02:26] mengxr commented on #56
`graphframes:graphframes:0.1.0-spark1.6` was compiled with Spark 1.6.0 and Scala 2.10.5. From the error messages, you are using Spark master, which contains some breaking API changes (like `DataFrame.map` is now `DataFrame.rdd.map`). So you should try the examples with the official Spark 1.6.0 release on Scala 2.10.

[2016-03-10 04:57] jkbradley opened #57 "Add aggregateMessages API to Python"
It should mimic the Scala API and will likely need to be re-implemented in Python, following the Scala implementation.

[2016-03-10 04:59] jkbradley commented on #56
Just to let you know, I've been maintaining a merged branch with 2.0, but there are still issues with it b/c of flux in master.  I'll close this issue, but please stay tuned for a 2.0 release once Spark 2.0 is out!

[2016-03-10 04:59] #56 closed

[2016-03-10 06:14] felixcheung commented on #50
And possibly '__tmp'

[2016-03-10 18:19] mengxr opened #59 "Add merge PR script to squash commits before merge"
Similar to Spark and some other projects like Redshift Data Source for Spark, we can add `dev/merge_pr.py` to squash commits before merge.

[2016-03-10 18:32] napsternxg commented on #56
@jkbradley I look forward to it. BTW can you point me to the branch where you are working on the 2.0 version. I would want to try that out and contribute to it.

[2016-03-11 05:49] felixcheung opened #60 "Add style check for Scala and Python in CI"
I notice some lines are longer than 100 characters, for example.

[2016-03-11 19:41] jkbradley opened #61 "Add triplets to Python GraphFrame"
Missing triplets method.

[2016-03-14 18:29] #61 closed

[2016-03-15 23:17] jkbradley opened #63 "Subgraph selection helper method"
It would be nice to have a helper method for selecting subgraphs.  I'm imagining something using the stdlib API:
[code]
where ```expr``` is a Column or String for filtering.

These methods should ensure consistency between the resulting vertex, edge DataFrames.  E.g., if a subset of vertices are selected, then any edges connected with a dropped vertex should be dropped.

When selecting subsets of

[2016-03-16 21:31] jkbradley commented on #45
Fixed!

[2016-03-16 21:31] #45 closed

[2016-03-16 21:33] jkbradley commented on #50
Good point.  __tmp should probably be chosen dynamically (appending something to avoid conflicts)

[2016-03-16 21:35] jkbradley commented on #56
I should qualify my claim: I've been maintaining this branch: [https://github.com/jkbradley/graphframes/tree/joinelimination]  which merges Ankur's join elimination optimizations with master.  It currently is not working completely, but Ankur is taking a look at it.  Depending on how merging his optimizations goes, I may create a new branch for making this work with 2.0.  I'll update before long,

[2016-03-16 22:54] jkbradley opened #64 "Add cache(), persist() methods"
They should just call cache() and persist() on both DataFrames.

[2016-03-17 02:52] felixcheung commented on #64
btw, I'm having real problems with .cache() calls on DataFrames related to the graph.
This is what I have, simplified:
[code]

This is probably unrelated to this issue specifically, but I find that if I have this `m.cache()` calls, it takes 2x-3x time for csv-backed edge/vertice DataFrames, and for Parquet-backed edge/vertice DataFrame, it just hangs.
I don't have a simple repro but I can try to r

[2016-03-17 02:54] felixcheung opened #65 "motif finding should avoid name conflict when matching with anonymous edge"
Currently it is using `__tmp` as column name which could theoretically conflict with an actual column with that name.
See #50

[2016-03-17 20:29] jkbradley commented on #64
That sounds bad.  It must be a DataFrames issue since GraphFrames isn't doing anything fancy (just joins).  A reproduction of it would be great, if possible, thanks!

[2016-03-21 18:38] #65 closed

[2016-03-21 19:51] tartavull opened #67 "Get all neighbors"
Is there any method similar to degrees(), which can be access using the python api, to not only get the number of edges but the id of them?

Thank you!

[2016-03-21 20:06] tartavull opened #68 "Get all neighbors"
Is there any method similar to degrees(), which can be access using the python api, to not only get the number of edges but the id of them?

Thank you!

[2016-03-21 20:06] #68 closed

[2016-03-22 17:38] pmcb55 opened #69 "Create a simple Java example in the documentation"
The documentation currently only provides Scala and Python examples, but I can't find any Java examples online.

For instance these two links work fine:
http://go.databricks.com/hubfs/notebooks/3-GraphFrames-User-Guide-scala.html
http://go.databricks.com/hubfs/notebooks/3-GraphFrames-User-Guide-python.html

But what I assume should be the Java examples, gives a 403 Forbidden response:
http://go.da

[2016-03-23 07:55] felixcheung opened #70 "SVD++ should support source DataFrame of other column types"
It seems GraphFrames SVD++ fails if edges are not exactly of types "long", "long", "double" (`scala.MatchError` in patten matching on this [line](https://github.com/graphframes/graphframes/blob/master/src/main/scala/org/graphframes/lib/SVDPlusPlus.scala#L120))

Perhaps we could support other variations, such as:
- "long", "long", "float"
- "int", "int", "float"
- "int", "int", "double"
- "string",

[2016-03-23 09:02] pmcb55 opened #71 "Scala documentation out of date"
The Scala example seems a little out-of-date, as it calls the 'numIter()' method on PageRank, when in fact that method seems to be now called 'maxIter()', i.e. change this:

`val results = g.pageRank.resetProbability(0.01).numIter(20).run()`

...to this:

`val results = g.pageRank.resetProbability(0.01).maxIter(20).run()`

Also when running this example by cutting-and-pasting into 'spark-shell', I

[2016-03-24 23:01] felixcheung commented on #67
Something like `g.triplets().filter("src.id == yourVerticeId")`?

[2016-03-29 20:12] tartavull commented on #67
Thanks!

[2016-03-29 20:12] #67 closed

[2016-04-04 01:14] jkbradley commented on #71
Thanks for reporting this; I'll push the updated docs soon.

[2016-04-04 01:14] #71 closed

[2016-04-04 17:17] jkbradley opened #76 "Check algorithm parameters for validity"
For the stdlib algorithms (PageRank, etc.), we should check for valid parameter values in the setters, rather than failing somewhere internally.

[2016-04-04 19:34] jkbradley opened #77 "Investigate using GraphX triangleCount implementation for Spark 2.0"
After the SPARK-3650 fix, we could call GraphX's triangleCount instead of using a DataFrame-based one when the GraphFrames package is compiled against Spark 2.0.  GraphX may be faster.  This issue is for doing some speed and scalability tests to see which is better.

[2016-04-18 19:38] georgeha opened #79 "Number of Connected Components"
Hello,

how large can a Graphframe be in order to calculate its connected components? I need to scale for thousand of edges in very strong machines.

Thanks

[2016-04-18 19:44] rxin commented on #79
You can definitely scale to billions of edges. Thanks.

[2016-04-18 19:44] #79 closed

[2016-04-18 19:50] georgeha commented on #79
@rxin  I am trying to scale for  a few thousands of edges but I got java error

[2016-04-20 22:31] daradib opened #80 "log4j.properties file ignored"
When GraphFrames jar/package is loaded, Spark will ignore `log4j.properties` in `SPARK_CONF_DIR`. Perhaps `src/main/resources/log4j.properties` is overriding it?

@thunterdb seems to be working on a solution in #55.

[2016-04-28 18:09] jkbradley commented on #79
Can you give more info about your cluster, Spark setup, graph, code, etc.?

[2016-05-05 21:32] nchammas opened #81 "Will GraphFrames become part of Spark?"
DataFrames are becoming increasingly central to Spark, so it raises the question: Will GraphFrames become part of the main Spark project, alongside GraphX, or will it continue as a separate library?

I think a line in the README commenting on this would be helpful.

[2016-05-16 04:12] shagunsodhani opened #83 "Update link to graphframes on homepage"
Update the link to graphframes in the `Downloading` section of the [homepage](http://graphframes.github.io/)

[2016-05-16 05:25] shagunsodhani commented on #54
I did not get the "own Maven repository" part. Could you please elaborate?

[2016-05-17 09:47] shagunsodhani commented on #83
Any feedback @jkbradley ?

[2016-05-17 15:40] #83 closed

[2016-05-19 16:12] winstonewert commented on #54
@shagunsodhani  if you go to the above link, and click the [+] next to How To there are instructions for adding it to various build tools. Hopefully one of those applies, or you can adapt to yours.

[2016-05-19 17:17] shagunsodhani commented on #54
Thanks a lot @winstonewert :+1:

[2016-05-23 10:14] renewjoy opened #85 "How to use is with python3?"
When I runt this import with pyspark with python3.51, it errors:

but is success in pyspark with python 2.7.1

[2016-05-25 09:39] rohit13k opened #86 "Graph Partitioning"
How to do graph partition in GraphFrames similar to the partitionBy feature in GraphX? Can we use the Dataframe's repartition feature in 1.6 to provide a graph partitioning in graphFrames?

[2016-05-26 10:43] jexp opened #87 "release graphframes for scala 2.11"
Currently graphframes is only released for Scala 2.10

It would be cool if like for the other spark components there could also be a release for Scala 2.11

Thanks a lot.

[2016-06-20 17:03] anabranch opened #91 "Graphframes => Apache Spark 2.0 Compatible"
I'm playing around with getting this set up. It seems like there are some pretty significant code changes, not just remove `.map` on DataFrames.

Questions:
[ ] What framework should we use for logging internally since `org.apache.spark.Logging` no longer exists?

Tasks:
[ ] Fix LogInfo
[ ] Fix Logging
[ ] Fix `.map` calls
[ ] Fix `callUDF` calls.

[2016-06-22 21:00] mortada commented on #85
I'm running into the same issue

[2016-07-07 01:58] summershenshen opened #93 "some problems when using graphframe API find()"
When I use graphframes API find, I meet up with some problems. For example, graphframes g, var motif=g.find((a)-[e1]->(b);(a)-[e2]->(d);(c)-[e3]->(b);(c)-[e4]->(d)),I can get a dataframe as a result. But in the result vertex a and vertex c may be the same, if I want all the vertexes which have different names are different vertexes,except I can use motif=motif.filter("XXX"),what other methods can

[2016-07-13 00:18] peteb4ker commented on #79
I've also just run across this problem - please reopen this issue as its real.   I'm attempting to run connected components on a ~800 node graph, with the intention of scaling up from hundreds to millions of nodes.   Here's some info on my graph:

- simple digraph
- ~820 vertices
- ~858 edges

[code]
Running connected components on this graph on a 32 cores 16GB single node never returns a result.

[2016-07-18 14:04] nadav-grossaug opened #94 "Mistake in Documentation"
in http://graphframes.github.io/api/python/graphframes.html#graphframes.GraphFrame

Documentation states:

connectedComponents()
Computes the connected components of the graph.

See Scala documentation for more details.

Returns:	GraphFrame with new vertices column “component”

**should be:**  Returns: DataFrame with new vertices column “component” (as is in Scala)

[2016-07-18 22:30] rxin commented on #94
Can you submit a pull request?

[2016-07-18 22:42] thunterdb opened #95 "Publish graphframes for Spark 2.0"
GraphFrames will be published for Spark 2.0. This will be the first version that officially supports scala 2.10 and scala 2.11 .

[2016-07-18 22:44] thunterdb commented on #91
@anabranch are you actively working on it? Otherwise I want to consolidate this ticket and #87 into #95 and work on it.

[2016-07-18 22:54] thunterdb commented on #87
@jexp because spark 2.0 is going to be the first official release of Spark that targets Scala 2.11, I am going to merge this task into #95 .

If you need graphframes for scala 2.11 and older releases of Spark, you can use the command `set scalaVersion := "2.11.7"` in the sbt console.

[2016-07-18 22:57] thunterdb commented on #93
@summershenshen I am sorry I having a hard time to understand your issue. Can you give a code example with some data or a gist? That would clarify the issue.

Thank you in advance.

[2016-07-18 23:30] thunterdb commented on #85
The current infrastructure of spark-packages publishes python bytecode (`.pyc` files) instead of source files. Since the package was prepared with python2, I believe this is the issue.

Unless you have some specific ways to address this issue (i.e. a pull request), I am going to wait for the next release of sbt-spark-packages which should alleviate the bytecode issue.

[2016-07-18 23:32] thunterdb commented on #69
Yes, the interface is usable by java, but there is no official documentation for java. Feel free to submit a pull request if you happen to write such a document.

[2016-07-18 23:34] thunterdb commented on #64
Closing this ticket.

[2016-07-18 23:34] #64 closed

[2016-07-19 19:34] kamir commented on #42
Is there some work going on on this issue?

I started writing Java examples and load some text files to RDDs in order to convert into DataFrames. This functionality can also be used as a base for a GFR/GFW module.

I hope that it is not a problem to have such a component implemented in Java for the beginning. Later on we would have a Scala and Python version of it anyway.

My initial approach is b

[2016-07-22 17:58] henrymana commented on #87
Setting scalaVersion to 2.11.7 did not work for me when trying out a page rank sample from the documentation. It compiles but fails with the following runtime exception:

Exception in thread "main" java.lang.NoSuchMethodError: scala.reflect.api.JavaUniverse.runtimeMirror(Ljava/lang/ClassLoader;)Lscala/reflect/api/JavaMirrors$JavaMirror;
	at org.graphframes.lib.GraphXConversions$.fromGraphX(GraphXC

[2016-07-29 09:22] jmontess commented on #95
Hello,

I was wondering if there is a planned date for this. I'm migrating form spark 1.6 to 2.0.

Thanks in advance,
J.

[2016-07-29 17:33] thunterdb commented on #95
@jmontess I will not have the time to work on this issue for the next week. @felixcheung might be able to take a look at it before. Of course, feel free to submit a patch if you want.

[2016-07-29 18:15] felixcheung commented on #95
I can look hopefully today. Feel free to check it out if you get a chance, @jmontess

[2016-07-31 22:41] dlawre14 commented on #95
Is there any word on the state of Python support for Spark 2.0 and GraphFrames?

[2016-08-01 17:44] felixcheung commented on #95
WIP #99

[2016-08-03 09:04] jmontess commented on #95
Thanks @felixcheung. I will check it out now...

[2016-08-11 03:01] felixcheung commented on #94
This should have been fixed already in #37

[2016-08-11 23:20] felixcheung commented on #87
It should be working for Spark 2.0/Scala 2.11 now, could you try from master again?

[2016-08-15 15:46] thunterdb commented on #95
The new binaries have been pushed: https://spark-packages.org/package/graphframes/graphframes

[2016-08-15 15:46] #95 closed

[2016-08-16 18:29] #94 closed

[2016-08-16 18:30] thunterdb commented on #93
@summershenshen are you still experiencing this issue? Otherwise I will close this ticket.

[2016-08-16 18:30] #91 closed

[2016-08-16 18:30] #87 closed

[2016-08-16 18:30] thunterdb commented on #87
The latest published version should resolve this issue.

[2016-08-17 09:09] summershenshen commented on #93
OK. This ticket can be closed.

--

Shen Wang
Master Degree Candidate
Department of Computer Science and Technology
Nanjing University
Nanjing,China,210023
Phone: +86 15996311418
Email: wangshen0716@163.com

At 2016-08-17 02:30:12, "Timothy Hunter" <notifications@github.com> wrote:

@summershenshen are you still experiencing this issue? Otherwise I will close this ticket.

—
You are receiving this

[2016-08-17 11:16] slavakx opened #104 "How to use graphframes in Jupyter notebook by referencing graphrames.jar"
I'd like to user it locally in Jupyter notebook. I've downloaded the graphrames.jar and created  PYSPARK_SUBMIT_ARGS variable that references the jar.
The import from graphframes import \* works but fails on call g = GraphFrame(v, e)
Py4JJavaError: An error occurred while calling o57.loadClass.
: java.lang.ClassNotFoundException: org.graphframes.GraphFramePythonAPI

Operating system: Windows

[2016-08-20 01:29] lewisc commented on #59
Isn't this functionality built into github now?

[2016-08-22 09:24] nadavw commented on #56
I get the same error trying to use pyspark: Version: 0.2.0-spark1.6-s_2.10
scala>  util.Properties.versionString
res0: String = version 2.10.5
scala> sc.version
res2: String = 1.6.1

any recomendation what can be done?

[2016-08-24 15:41] twesthead commented on #104
I'm having a similar problem while following two different guides :
Guide 1. https://www.mapr.com/blog/using-spark-graphframes-analyze-facebook-connections
Guide 2. The most basic one : http://graphframes.github.io/quick-start.html

As soon as I call `GraphFrame(v, e)` I get:
`java.lang.ClassNotFoundException: org.graphframes.GraphFramePythonAPI`

The only way what I do differs from Guide 2 is tha

[2016-08-30 20:25] lewisc opened #106 "Api for graph operations is inconsistent with PageRank"
The PageRank algorithm returns a graph, while the other similar graph operations (degree, connected components etc.) all return a DataFrame with 2 columns, the vertices and the corresponding statistic for that vertex (i.e. which component/degree etc.).

It seems odd that similar algorithms don't have a consistent return type, is there a reason for this behavior?

[2016-08-30 21:39] leoneu commented on #104
Not nice but I managed to run graphframes with jupyter+python:

mkdir ~/jupyter
cd ~/jupyter
wget https://github.com/graphframes/graphframes/archive/release-0.2.0.zip
unzip release-0.2.0.zip
cd graphframes-release-0.2.0
build/sbt assembly
cd ..

# Copy necessary files to root level so we can start pyspark.
cp graphframes-release-0.2.0/target/scala-2.11/graphframes-release-0-2-0-assembly-0.2.0-spar

[2016-09-02 22:05] nchammas commented on #85
@thunterdb - Can you expand on how this issue will be addressed by `sbt-spark-packages`? I'm curious.

By the way, the modern convention in Python for releasing artifacts is to publish [wheels](https://packaging.python.org/distributing/#wheels). Are there plans to use them?

[2016-09-02 22:51] nchammas commented on #59
@lewisc - Yup, it is: https://help.github.com/articles/about-pull-request-merges/

[2016-09-08 16:05] rcmadhu opened #108 "GraphFrame API in SparkR"
Is there a plan in the roadmap to include GraphFrame API in SparkR as well?

[2016-09-12 12:17] psinger commented on #85
Is there any news regarding this? Makes it impossible for me to use the package currently as Im running everything with python 3.

[2016-09-14 01:14] treena123 commented on #69
I needed to implement GraphFrame for a java based project.  So, I thought to prepare a document for GraphFrame Implementation using java
[GraphFrame java documentation.pdf](https://github.com/graphframes/graphframes/files/471087/GraphFrame.java.documentation.pdf)

[2016-09-14 16:39] srooznow opened #109 "invalid dependency when converting from Graphx"
scala version 2.11.7
spark-2.0.0-bin-hadoop2.7
graphframes-0.2.0-spark2.0-s_2.11.jar
[code]

[2016-09-26 18:43] jkbradley commented on #56
@nadavw Thanks for reporting this!  I tried out that GraphFrames release with Spark 1.6 and found:
* It works with 1.6.2
* It fails (with a similar error) with 1.6.1

In the short term, can you upgrade to 1.6.2 or 2.0.0?  In the long term, I'll see if we can fix it!

[2016-09-28 23:17] jkbradley commented on #79
ConnectedComponents has quite a few ongoing problems.  We've been working on an improved implementation and hope to push it to GraphFrames master before long.

[2016-09-28 23:26] jkbradley commented on #81
Closing now that other doc is merged, thanks!

[2016-09-28 23:26] #81 closed

[2016-09-28 23:31] jkbradley commented on #108
It will certainly be great to add an R API.  I currently do not have the bandwidth, but I'd like to think about this in the future.  In the meantime, it would be interesting to hear about popular graph packages in R to get a sense of their APIs, so that we might start thinking about what the R API would look like.

I'll leave this open!

[2016-09-28 23:32] jkbradley commented on #106
PageRank is the only algorithm which returns new data for both the edges and vertices.  This is a good question, though, for the long-term: Should we make all algorithms consistent and return Graphs?  Or should we return what makes the most sense for that algorithm?  I'm interested in hearing opinions.

[2016-09-28 23:33] jkbradley commented on #104
@slavakx Did this solution work for you?

[2016-09-28 23:33] #93 closed

[2016-09-28 23:41] jkbradley commented on #80
I'll close this since that log4j.properties file has been removed.  Thanks!

[2016-09-28 23:41] #80 closed

[2016-09-28 23:41] lewisc commented on #106
I much prefer as consistent an API as possible.

[2016-09-29 00:06] jkbradley commented on #109
Thanks for reporting this!  I was able to reproduce it locally, though I found it works in Databricks.  I'll look into it.

[2016-09-29 00:12] felixcheung commented on #108
This would be interesting :)
In R: igraph (http://igraph.org/), sna (https://cran.r-project.org/web/packages/sna/sna.pdf)

[2016-09-29 00:17] felixcheung commented on #109
it looks like it can't resolve `com.typesafe.scalalogging`

[2016-09-29 18:11] sbromberger opened #110 "(another?) invalid dependency"
__Environment__
- scala 2.11.8
- spark-core 2.0.0
- spark-sql 2.11
- graphframes 0.2.0-spark2.0-s_2.11

In addition to the logging dependency error in #109, we're getting

[code]

Any ideas? It appears that our DataFrame class is in `org.apache.spark.sql`, not `org.apache.spark.sql.package` (which doesn't appear to exist).

[2016-09-29 18:49] sbromberger commented on #110
Sorry - closing this out. Turned out to be a local maven repo issue.

[2016-09-29 18:49] #110 closed

[2016-10-02 13:32] slavakx commented on #104
@jkbradley Unfortunately not quite.

I am getting the following exception on g = GraphFrame(vertices, edges):
java.lang.NoClassDefFoundError: com/typesafe/scalalogging/Logging

even so i am running pyspark as
pyspark --jars ../jars/graphframes-0.2.0-spark2.0-s_2.11.jar;../jars/scala-logging-slf4j_2.11-2.1.2.jar

(i thought that referencing scala-logging-slf4j would resolve the issue)

[2016-10-03 16:07] cricket007 opened #111 "Heterogeneous vertices?"
[code]

What if I wanted to say, for example, that these people work at a company? Say we didn't care about the "age" of the company, just who the employees are.

So how would this data be added as a Vertex, or is it even possible?

[code]

The edge is straightforward

[code]

---

To clarify, this isn't possible because the Company has no "age", so the schema can't be applied

[code]

[2016-10-03 17:25] lewisc commented on #111
This isn't a graphframes problem, it's a dataframes general issue.

To get rid of the age you can use:
`v.drop(col("age"))`

To add the new information you would (in traditional sql style), add the information as a new column,

Assuming each employee is going to work for the same company
`v.withColumn("companyA", lit("Foobar, Inc"))`

I hope this helps.

[2016-10-03 17:37] cricket007 commented on #111
I understand it's a DataFrame problem. So, I want the age of the People, just not the Company. For example, I'm concerned about this.

[code]

How can I add a vertex within the `List` that does not match that schema, or differs completely?

[2016-10-03 17:41] lewisc commented on #111
As far as I know, you can't (exactly) have different "types" of vertices in networkx parlance. What you could do is have a very wide schema (basically the 2 schemas unioned), and then only fill in the relevant pieces.

[2016-10-03 22:01] sbromberger commented on #109
Actually, I'm having the same problem here within `spark-shell`:

[code]

[2016-10-03 22:03] sbromberger commented on #104
Possible relationship to #109?

[2016-10-03 23:56] jkbradley commented on #109
Whoops!  @thunterdb pointed out the solution: It's that you should include it using the ```--packages``` argument, not the ```--jars``` argument.  "jars" will not download the dependencies like scalalogging, whereas "packages" will.

[code]

It's actually noted on the page: [https://spark-packages.org/package/graphframes/graphframes]

I'll close this.

[2016-10-03 23:56] #109 closed

[2016-10-04 00:43] sbromberger commented on #109
Wait a second - http://graphframes.github.io/quick-start.html needs to be updated, then. That's where I found the original instructions...

[2016-10-04 16:28] sbromberger commented on #109
This doesn't work:

[code]

[2016-10-04 19:05] jkbradley commented on #109
Oh thanks!  I'll update the quick start guide.

Does spark-shell work without the --jars argument, in which case I'd hope it would download the correct dependencies?

[2016-10-04 19:12] sbromberger commented on #109
No (sorry for the complete paste, but I don't know what's significant in this output):

[code]

[2016-10-04 19:16] sbromberger commented on #109
If it makes a difference, we're using maven....

[2016-10-04 19:56] nchammas commented on #85
@thunterdb - The latest [release of `sbt-spark-packages`](https://github.com/databricks/sbt-spark-package/releases) appears to be from August 15, a month after your latest comment. Is that release supposed to help fix this issue?

For the record, I'm also seeing that GraphFrames are broken on Python 3 as of Spark 2.0.0 / GraphFrames 0.2:

[code]

This works fine for me on Python 2.7.12.

Also, if

[2016-10-04 21:15] jkbradley commented on #109
I'll test with maven now.  It worked for me with sbt.

[2016-10-04 21:36] jkbradley commented on #109
Just tested with maven, and it worked for me.  The only difference in our outputs is with finding dependencies, where yours is pulling graphframes from local cache and mine appears to be tracing the dependencies further:

[code]

Could you please try removing graphframes from your local ivy cache?

[2016-10-04 21:49] jkbradley commented on #109
I just tried again using 2.0.0 (instead of 2.0.2-SNAPSHOT), and it worked for me.  So I bet it is an ivy cache issue.

[2016-10-04 23:30] sbromberger commented on #109
I did an `rm -rf ~/.ivy2/cache/graphframes` and reran - same issue:

[code]

[2016-10-04 23:32] sbromberger commented on #109
(I also tried removing the cache as well as the jar in `~/.ivy2/jars`. Same issue.)

[2016-10-04 23:46] sbromberger commented on #109
SOLVED. To fix:

1) removed ivy cache (`rm -rf ~/.ivy2/cache/graphframes`) and jar (`rm  ~/.ivy2/jars/graphframes*`)
2) removed maven repo files (`rm -rf ~/.m2/repository/graphframes`)
3) ran `spark-shell --packages graphframes:graphframes:0.2.0-spark2.0-s_2.11`

Not sure how it found the package, but it works now. Thanks for your patience and help, @jkbradley !

[2016-10-05 23:30] jkbradley commented on #109
Phew!  Glad it worked and happy to help.  : )

[2016-10-06 16:25] dvreed77 opened #113 "SLF4J error"
I am running Scala 2.10.4 with Spark 1.5.0-cdh5.5.2 and am getting the following error when running a GraphFrames job:

scala

[code]

I am starting my spark-shell with the following command:

`spark-shell --jars /data/spark-jars/scalalogging-slf4j_2.10-1.1.0.jar,/data/spark-jars/graphframes-0.2.0-spark1.5-s_2.10.jar`

I have tried different versions of scalalogging, but nothing seems to work.

Th

[2016-10-11 18:22] michaelqiu94 opened #114 "SLF4J Logging Error"
Hi,
    I tried creating a graph frame, but it gave me this ClassDefNotFound error:

java.lang.NoClassDefFoundError: com/typesafe/scalalogging/slf4j/LazyLogging

I am using GraphFrames 0.2.0 for Spark 2.0 and Scala 2.11. Any ideas what could be causing this? Thanks!

[2016-10-17 20:16] nchammas commented on #114
Dup of #113?

[2016-10-17 21:13] nchammas commented on #79
@jkbradley - Are you tracking those improvements in a separate issue? Just curious if the improved implementation has already made it into 0.2.0 or master.

[2016-10-18 02:55] nchammas opened #116 "connectedComponents() raises lots of warnings that say "block locks were not released by TID = ...""
Trying to run a simple `connectedComponents()` analysis on an example dataset, even the one from the [quick start](http://graphframes.github.io/quick-start.html), yields a flurry of warnings (several dozen?) like this:

[code]

And this is for a graph with literally 3-4 vertices and edges.

Is this an issue? Would it cause performance issues at scale? ([Here's a related question on Stack Overflow]

[2016-10-18 18:24] jkbradley opened #117 "More scalable connected components implementation"
There have been many reports of the connected components algorithm in GraphX and GraphFrames not scaling.  @mengxr has a prototype of a better algorithm.  This issue is for tracking adding it to GraphFrames master.

Subtasks:
- [x] Implementation: #119
- [x] Improved unit tests: #121
- [x] GraphX legacy support: #122
- [x] Python API: #123
- [x] (optional) checkpoint interval param: #124
- [x] han

[2016-10-18 18:24] jkbradley commented on #79
I just made an issue for it: https://github.com/graphframes/graphframes/issues/117

Not there yet, but as soon as we get the chance.

[2016-10-18 20:07] nchammas commented on #79
Thanks @jkbradley.

[2016-10-18 20:11] nchammas commented on #117
Just curious: Is this related at all to the issue described in #116?

[2016-10-18 23:42] jkbradley commented on #116
I'm seeing this now too.  It looks like it was a 2.0.0 change in Spark: [https://issues.apache.org/jira/browse/SPARK-12757]

I'm pinging Josh about it and will report back.

[2016-10-18 23:43] jkbradley commented on #117
I'm pretty sure not.

[2016-10-20 17:20] #114 closed

[2016-10-20 17:26] michaelqiu94 opened #118 "Motif resulting in empty DataFrame"
Hi,
   I am trying to use the motif functionality within Graphframes. I tried a bunch of different different motifs, including those in the user guide, on a variety of different GraphFrames, but to no avail. I even tried the simple motif "(a)-[e]->(b)", but the resulting DataFrame was empty. If I am understanding this correctly, it should return all a,e, and b such that a has an edge to b. This wa

[2016-10-20 18:04] #118 closed

[2016-10-24 21:12] JoshRosen commented on #116
I wonder whether there's a `limit()` or `take()` or something which is otherwise causing reads to not release their locks until the end of the task. That's the most likely explanation, but to know more I'd have to download this and try to reproduce the problem to see where the locks are being acquired.

[2016-10-24 21:45] nchammas commented on #116
Here's a minimal repro, taken as-is from the [User Guide](http://graphframes.github.io/user-guide.html#connected-components):

`graphframes-test.py`:

[code]

[code]

[2016-11-02 03:16] jkbradley commented on #117
https://github.com/graphframes/graphframes/pull/119

[2016-11-03 00:30] jkbradley opened #121 "Connected Components: improve unit tests"
We should improve unit test coverage for CC before we release the new version.

[2016-11-03 00:32] jkbradley opened #122 "Connected Components: support legacy GraphX implementation"
Add option to use GraphX instead of new CC implementation

[2016-11-03 00:32] jkbradley opened #123 "Connected Components: Python API for new implementation"
Need to add params to fully support new implementation

[2016-11-03 00:33] jkbradley opened #124 "Connected Components: checkpoint interval param"
Add configurable checkpoint interval for new CC implementation

[2016-11-05 01:55] #122 closed

[2016-11-05 04:20] felixcheung commented on #124
PR #126

[2016-11-07 18:34] jkbradley commented on #124
Fixed!

[2016-11-07 18:34] #124 closed

[2016-11-07 19:03] jkbradley commented on #116
I talked with Josh.  Synopsis:
* It's likely from GraphX grouping rows in each partition into a single "row" per partition.
* When GraphX uses data from the partition, it knows that there is only 1 row, so it just looks at that first row.  The RDD API thinks that GraphX does not finish iterating through the data, and that may cause the block lock warning.
* It is likely not causing any bugs.

My o

[2016-11-07 19:07] JoshRosen commented on #116
If my hunch is right, we should be able to fix this in GraphX by registering a TaskCompletionCallback to just perform an extra `hasNext()` call on the single-element iterator.

[2016-11-07 19:09] felixcheung commented on #116
perhaps it's a different cause, I'm seeing the same messages with GBTClassifier too - was added to SPARK-12757

[2016-11-08 17:25] mengxr commented on #117
Added one more TODO to handle skewness in assigning long IDs. Otherwise, CC might fail at the first step on skewed graphs.

[2016-11-09 14:41] mavencode01 commented on #121
@mengxr I'm experiencing an issue with  connected component, basically I'm trying to cluster a hierarchical dataset. It works fine for small dataset, I could clustered the data into separate clusters.

However, for large hierarchical dataset (about `1.60million vertices`) the result seems wrong.
The resulting clusters from connected component have many intersections. This should not be the case. I

[2016-11-09 22:33] jkbradley commented on #121
@mavencode01 Do you know if your ```vertices``` DataFrame has multiple rows with the same ID?  If so, that might cause the bug you're seeing.  GraphFrames assumes that the vertices DataFrame is valid and does not verify or dedup.

[2016-11-10 05:21] sidazhang opened #133 "Typed Dataset support?"
Are there plans to support typed Dataset?

[2016-11-10 06:32] #123 closed

[2016-11-10 06:33] mengxr commented on #121
@mavencode01 please create a new issue to continue the discussion. This one is only for adding new unit tests. I'm going to mark it as closed. Thanks!

[2016-11-10 06:33] #121 closed

[2016-11-10 06:33] #117 closed

[2016-11-10 12:32] mavencode01 opened #134 "Graphframe connected component bug"
Moving the issue here,
I'm trying to cluster a hierarchical dataset. This works fine for small dataset, I could cluster the data into separate clusters.

However, for large hierarchical dataset (about 1.60million vertices) the result seems wrong.
The resulting clusters from connected component have many intersections. This should not be the case. I expect the hierarchical dataset to be clustered i

[2016-11-10 19:00] thunterdb commented on #113
@dvreed77 we use the following package: `"com.typesafe.scala-logging" %% "scala-logging-slf4j" % "2.1.2"`, which you can use with `spark-shell` 's `--package` option

[2016-11-10 20:01] thunterdb commented on #134
@mavencode01 do you have a dataset and a full example that reproduces the issue you are seeing?

[2016-11-11 16:32] mengxr opened #139 "Set up integration with scoverage and codecov"
so we can measure the test coverage.

[2016-11-11 16:34] mengxr commented on #134
@mavencode01 Please also let us know whether you are using the DataFrame-based implementation in current master or the GraphX implementation in release 0.2.

[2016-11-11 16:35] #59 closed

[2016-11-11 16:50] nchammas commented on #85
Looks like this has been addressed in a recent PR: #135

[2016-11-11 17:12] thunterdb commented on #85
@renewjoy this issue is fixed in master, and a new release will be done soon. I am going to close this ticket.

[2016-11-11 17:12] #85 closed

[2016-11-11 22:17] #139 closed

[2016-11-12 03:08] mavencode01 commented on #134
@mengxr @thunterdb - I think it's my bug, I got duplicate Ids in my vertices. Thanks for pointing it out @mengxr

[2016-11-12 03:08] #134 closed

[2016-11-12 18:14] mengxr opened #142 "Update graphframes.github.io for v0.3.0"
I tried to update graphframes.github.io but got this error from `PRODUCTION=1 jekyll build`:

[code]

cc: @thunterdb

[2016-11-16 18:21] mengxr commented on #142
The doc site was updated.

[2016-11-16 18:21] #142 closed

[2016-11-17 15:00] syntropo opened #143 "PageRank Throws ConcurrentModificationException"
I'm attempting to run GraphFrames 0.3.0 on EMR from spark-shell with the following code taken from the example:

[code]
Which produces this error:
[code]
A little googling suggested this has to do with self assignment, and is fixed in Spark 2.0.2. Any workaround for those of us on EMR stuck on 2.0.1?

[2016-11-17 23:20] nchammas opened #144 "connectedComponents() is broken in 0.3: "Checkpoint directory is not set. Please set it first using sc.setCheckpointDir().""
For a minimal repro, look at [this example](https://github.com/graphframes/graphframes/issues/116#issuecomment-255875572). The code is the same, but the output in GraphFrames 0.3 is:

[code]

[2016-11-18 06:50] nchammas commented on #144
I suppose it's not fair to call this "broken". It may just be an intentional API change.

If that's the case then I would ask: Shouldn't this be called out in the docs--that you need to set a checkpoint directory before calling `connectedComponents()`? (And why wasn't this required in GraphFrames 0.2?)

[2016-11-18 09:18] hxu commented on #113
This has broken the Python side APIs as well.  Should this not be packaged with the main graphframes jar?

[2016-11-18 09:57] hxu commented on #113
To get this working, I had to include both `scala-logging-slf4j` and `scala-logging-api` at version 2.1.2.  I set this by adding them to the `--jars` option to `spark-submit`

[2016-11-18 16:06] jackalsin commented on #116
I came across the same thing.

scala : 2.11.8
Spark:2.0.2

data
[code]
command:
[code]

I can reproduce it even reinstall the spark.

I am not sure if this helps

Feel free to contact me.

[2016-11-18 17:05] nchammas commented on #116
I am not seeing this anymore in GraphFrames 0.3 with the new default implementation. If I force the [old GraphX algorithm](http://graphframes.github.io/api/python/graphframes.html#graphframes.GraphFrame.connectedComponents) in GraphFrames 0.3 I see the the warnings again.

Can anyone else confirm?

[2016-12-02 23:25] michaelqiu94 opened #146 "GraphFrames 0.3.0 java.lang.IncompatibleClassChangeError"
I am using GraphFrames 0.3.0, and whenever I try to load/create any kind of GraphFrame, I get this error:

Exception in thread "main" java.lang.IncompatibleClassChangeError: Implementing class
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLC

[2016-12-06 02:59] sbromberger opened #147 "java.lang.NoClassDefFoundError: org/apache/spark/graphx/VertexRDD when trying examples"
build.sbt:
[code]

code:
[code]

Result:
[code]

What am I missing? Does GraphFrames require GraphX?

(updated with simpler example taken from http://graphframes.github.io/user-guide.html)

[2016-12-06 05:33] felixcheung commented on #147
Yes it does, could you try adding `spark-graphx` as libraryDependencies?

[2016-12-06 05:37] sbromberger commented on #147
That worked; thank you. A couple of suggestions:

1) This dependency should be listed prominently in the documentation. (I'm happy to provide a PR for this if it would help. There are a few other things, like getting `sqlContext`, that are not adequately explained.)
2) A check that results in compile-time (vs run-time) error would be better.

[2016-12-06 08:21] felixcheung commented on #147
Sure - more documentation is a good idea. I think generally you start from Spark to load graphframe as a package though, as documented here: https://github.com/graphframes/graphframes/blob/master/docs/quick-start.md

[2016-12-06 15:15] sbromberger commented on #147
That's fine if you're testing in the REPL but creating a project is a different process and one that doesn't seem to be well-documented:

1) dependencies include graphx
2) a SparkSession needs to be created
3) a SQLContext needs to be created if you're creating your own dataframes for a graph

It's interesting to me that dataframes isn't an explicit dependency but graphx is. Why is that?

[2016-12-06 23:22] felixcheung commented on #147
The use of SQLContext instead of SparkSession could be an issue with Spark 2 - this would be good to investigate.

Since you have `spark-sql` on the `libraryDependencies` - that satisfies the build requirement for dataFrame and SQLContext/SparkSession.

Thank you for bringing up these points - I don't control this repo but I think they would appreciate your input and PRs for fixes.

[2016-12-11 20:11] felixcheung opened #148 "Support for weighted-edges PageRank"
There has been several requests and having running into the need for this myself, I want to see if it would be useful to add support for weighted edges for PageRank.

This would include a fairly contained change to add computing weight from edges with numeric weight values, in addition to the current implementation of computing weight from outDegrees. I would propose to add a `useEdgeWeight` (for

[2016-12-11 20:11] felixcheung commented on #148
@thunterdb @jkbradley @mengxr

[2016-12-13 00:48] jkbradley commented on #148
I agree this would be a good thing to add, but I hesitate to fork further from GraphX.  What would you think about implementing it on DataFrames?  The new Connected Components implementation has worked out so far from what I've heard, so it might be cool to try another algorithm.

[2016-12-13 01:24] hugolouzada commented on #148
@felixcheung that would be rather useful. Thanks for your offer to work on this.

If I may add one suggestion, I vote something like the weightCol option, but instead a parameter that could accept a list of attribute columns to act as weight. Then, the implementation could allow the user to run several weighted PageRanks in one go. A feature like this would definitely be useful for the data explor

[2016-12-13 07:20] felixcheung commented on #148
@jkbradley great point, that sounds like a better approach though it might be a bigger project to take on. Would there be any existing benchmark & results to compare against?

re @hugolouzada comment, what do we think about the API to support both (existing) outDegrees and (new) weighted edges - or multiple weights?

[2016-12-13 12:30] hapiri commented on #146
I got this same!Windows and Mac....

[2016-12-13 21:16] jkbradley commented on #148
I don't know if there are standard benchmarks, but there are certainly lots of big graph datasets which would be good candidates for PageRank.  Generating extreme graphs can also be useful: for Connected Components, we did a lot of testing with grids, stars, chains, and combinations of these.  The main things we tested were speed vs. the GraphX implementation for small/medium graphs and scalabilit

[2016-12-14 02:19] hugolouzada commented on #148
@felixcheung supporting both sounds about right, though I'm not sure what would be the implications for the users. I'm not that familiar with the implementation to have a better opinion, sorry.

@jkbradley I was thinking about data exploration. I believe that if you already have a good idea of what insights you might get from PageRank, than usually the choice of weight comes naturally. The problem

[2016-12-14 18:03] lewisc opened #149 "Make graphx to graphframe converters public"
The graphx to graphframe (and vice versa) conversion logic is hidden behind a private tag. Is there a specific reason for this or could these be made public?

I would be willing to make the changes (and also possibly add some tests to cover the code?) if that's acceptably by the project.

[2016-12-14 20:12] mavencode01 opened #150 "Motif finding documentation"
Is there any documentation to explain in details how to write complex queries with motif finding DSL?

I want to write a DSL that shows if a node is connected to another node at any n-level but don't know
how to express this with the limited documentation on motif.

    (a)-[]-...->(b)

Any idea how to go about this?

[2016-12-30 02:18] felixcheung commented on #150
hmm, there's a bit on variable length motif at the end of this section:
http://graphframes.github.io/user-guide.html#motif-finding

[2016-12-30 02:24] felixcheung commented on #149
toGraphX is public and documented: http://graphframes.github.io/api/scala/index.html#org.graphframes.GraphFrame@toGraphX:org.apache.spark.graphx.Graph[org.apache.spark.sql.Row,org.apache.spark.sql.Row]

fromGraphX is not but I think it's just documentation.

[2016-12-30 02:37] mavencode01 commented on #150
@felixcheung Is there any example to query a variable length motif ?

[code]

[2016-12-30 02:42] felixcheung commented on #143
this seems like a Spark problem, not a GF problem. Perhaps you could try disabling the EventLoggingListener?

[2016-12-30 02:56] felixcheung commented on #146
how do you start/run the example? could you include your environment and commandline you use?

[2016-12-30 03:00] felixcheung commented on #116
I still see a lot of these messages when running GF on Spark 2.1
(but no, no such message with connectedComponent)

I think this is a Spark issue?
[code]

[2016-12-30 15:49] toddpi314 commented on #116
Looks like spark; seeing this on 2.0 and 2.1 the last few weeks.

[2016-12-30 18:01] edsar opened #156 "Roadmap for openCypher support?"
Exciting news here for folks who have worked with neo4j over the years.

http://www.opencypher.org/

Is Databricks or this team (or someone else) going to drive the support for openCypher in Spark?

Awesome work so far!

[2016-12-31 01:20] nchammas opened #157 "GraphFrames package for Spark 2.1"
Is it safe/correct to use the GraphFrames package built for Spark 2.0 with Spark 2.1?

If not, I guess consider this issue a placeholder for creating a GraphFrames package built for Spark 2.1.

[2016-12-31 01:36] felixcheung commented on #157
please see #153

[2016-12-31 01:37] felixcheung commented on #157
Belief Propagation example does not work with Spark 2.1 without changes.

[2016-12-31 02:47] felixcheung commented on #150
I thought maybe there was but after some searches I'm not finding examples of it...

[2016-12-31 19:03] nchammas opened #159 "Incorrect and non-deterministic connectedComponents() results when the vertices and edges are not cached"
I am seeing some surprising and very worrying behavior for `connectedComponents()`. I am running it on a graph with ~300K vertices and ~275K edges. When I run it locally, I get consistent, correct results. When I run it on our cluster, I get inconsistent, incorrect results.

I can't share a repro at the moment, so let me elaborate a bit on how the results are incorrect when I run `connectedCompone

[2016-12-31 22:21] nchammas commented on #159
Actually, it doesn't look like simply calling `persist()` is enough. Once I scaled up to the full dataset I needed to process (~250M rows), I started seeing the incorrect behavior again.

I was able to again work around it by forcing a computation after the `persist()` with something like `count()`, _before_ calling `connectedComponents()`.

This kind of issue is really discouraging. It's likely n

[2017-01-02 01:42] felixcheung commented on #159
this sounds fairly serious - I think it would be worthwhile to get a non-GraphFrames specific repro

[2017-01-03 17:06] nchammas commented on #159
Would the query plans with and without the `persist()` be helpful to start understanding what's going on? They are large and messy though.

[2017-01-04 18:02] michaelqiu94 commented on #146
I am running this through maven. I am using Spark 2.0.2 and GraphFrames 0.3.0 for Spark 2.0 and Scala 2.11. This error occurs when I do a simple command to create a GraphFrame:

val g = GraphFrame(v, e)

This also occurs when I run this:

import org.graphframes.examples
val g: GraphFrame = examples.Graphs.friends

[2017-01-05 00:30] michaelqiu94 commented on #146
Issue solved. I was using a different version of scala logging than the one GraphFrames uses, and that is what caused the IncompatibleClassChangeError.

[2017-01-05 00:30] #146 closed

[2017-01-05 06:45] felixcheung commented on #159
that might be a good starting point..

[2017-01-05 06:55] felixcheung commented on #111
I might be missing something, can't you do
[code]

you get
[code]

[2017-01-06 01:39] jkbradley commented on #144
It's documented in the class docs, but it looks like those weren't pushed to github.io.  I'll see about doing that (or feel free to send a PR for the doc site).

Honestly, we were getting enough bug reports about scaling that I think it's better to force users to use checkpointing by default.

[2017-01-06 01:43] jkbradley opened #160 "ConnectedComponents checkpointing should construct FileSystem using Path"
See https://www.mail-archive.com/user@spark.apache.org/msg60669.html for the original bug report.  I recommend we modify FileSystem constructors to take Path + hadoop config, rather than only the hadoop config.  That should be more robust AFAIK.

[2017-01-06 06:18] felixcheung commented on #159
that would be great!

[2017-01-06 06:21] felixcheung commented on #144
@jkbradley I could open a PR on .io side - I have a couple of PRs (including some updating doc) if you could help review please? 😄

[2017-01-06 11:09] Saravanan21 opened #162 "Connected Components checkpoint file clean up"
After running connected components, there is a large amount of temporary memory left in the spark folders - mainly in "blockmgr-*" folders, as well as the last checkpoint (although that's much smaller). The blockmgr folders are deleted when spark shuts down, but checkpoint folder isn't. The spark GC doesn't otherwise seem to clean up the blockmgr, so if I run connected components several times it

[2017-01-06 22:53] felixcheung commented on #162
Thanks for reporting this - I think you are right, we are leaving behind the last checkpoint.
I'll look into a fix.

[2017-01-07 01:33] felixcheung commented on #162
This turns out to be a bit tricky - checkpoint's lifetime should be tied to the SparkContext.
I'll look into more.

[2017-01-09 22:40] aray commented on #106
But the edge data from pagerank is trivial. Do we really need it to be retruned?

[2017-01-09 22:44] lewisc commented on #106
That was sort of my thought as well. It's not even clear to me if it semantically is interesting (although I will freely concede I don't know all the applications of pagerank).

That being said returning a graph may very well make more sense, as that way you can practice method chaining (is that done much though?)

[2017-01-09 22:51] aray commented on #148
It would make sense to have an optional parameter for a user supplied weight `Column` with default value `null` that triggers the existing behavior.

I'll also throw my hat in the ring and say I would be willing to reimplement pagerank with dataframes.

[2017-01-09 22:55] aray opened #164 "Normalize PageRank to 1"
Given that most other pagerank implementations give ranks that sum to 1 should we break with GraphX (which sums to N) and normalize our results to have comparable results?

[2017-01-09 23:53] thunterdb opened #165 "Test `named edges` breaks codegen with Spark 2.1"
Here is the stack trace:

[code]

and the complete message:

[code]

[2017-01-10 00:25] felixcheung commented on #148
Thanks Andrew.

I'm already making a lot of head way on implementing PageRank.

[2017-01-10 00:51] thunterdb opened #166 "Update the website with quick start instructions"
To incorporate fixes from #154

[2017-01-10 01:02] thunterdb commented on #70
If you look at the documentation in that class, the types are documented as being expected to be `double`. But yes, it would be nice to support coercions.

[2017-01-10 01:09] thunterdb commented on #104
@slavakx did the cleanup in #109 work for you?

[2017-01-10 01:16] thunterdb commented on #106
Personally, I find natural to only return the vertex information for algorithms that return vertex data: it is the minimal output that corresponds to what the algorithm is doing, and you can always build the graph back by combining it with the edges.

[2017-01-10 01:54] lewisc commented on #106
@thunterdb That's been my experience as well, but I have only worked on a few narrow projects so I am not certain if that's normal...

[2017-01-10 06:47] felixcheung commented on #166
and #158?

[2017-01-10 06:52] felixcheung commented on #165
thanks! I didn't think to look for things since tests are passing. Will try to investigate this

[2017-01-10 07:39] felixcheung commented on #165
Seems like codegen bug; it looks like at least 2 issues:
1. At L472, inputadapter_value is not defined within scope
2. inputadapter_value is an InternalRow, for this statement to work
[code]
it should be
[code]

[2017-01-10 10:01] slavakx commented on #104
@thunterdb Nope. Even after installing the latest spark 2.1.0 and the latest graphframes lib and using

pyspark --packages graphframes:graphframes:0.3.0-spark2.0-s_2.11

Py4JJavaError: An error occurred while calling o69.newInstance.
: java.lang.NoClassDefFoundError: com/typesafe/scalalogging/slf4j/LazyLogging

[2017-01-10 17:32] thunterdb commented on #111
As the others have pointed out, Spark has limited support for disjunctions (sum types in algebraic parlance), save for the nullable types. One solution if you want to encode such types is to use different structures and make a union of them using options. In your example, you could use the following data type:

[code]
You can then project the data to only persons or companies using http://spark.ap

[2017-01-10 17:32] #111 closed

[2017-01-10 17:48] thunterdb commented on #147
@sbromberger thank you for bringing up these documentation issues. If you have some suggestions for the documentation, we will gladly take accept some pull requests.

regarding the compile time error, I agree that this is unexpected. I will check the maintainers of `spark-packages-sbt` to see if we can do something on this side.

[2017-01-10 17:51] thunterdb commented on #148
@felixcheung that sounds great!

[2017-01-10 17:53] thunterdb commented on #149
I am closing this ticket, since it is documented.

[2017-01-10 17:53] #149 closed

[2017-01-10 17:59] thunterdb commented on #150
The example that @felixcheung mentioned does that but it may be a bit hard to follow:
 - you build the longest chain that you care about using the motif pattern
 - you incrementally build the chain up to the maximum, keeping track of its length using an accumulator
 - then you can filter out the lengths that are relevant

It is probably easier (but not as efficient) to start by running repeated qu

[2017-01-10 18:02] thunterdb commented on #156
Yes, this is a welcome development. We currently do not have the resources to work on this at Databricks, but supporting a subset of the most popular operations would be a great start.

[2017-01-10 18:06] thunterdb commented on #157
I have not checked BP, do you have an example that breaks it?

[2017-01-10 18:15] thunterdb commented on #164
I do not have a strong opinion either way, but let us see if someone else wants the change.

[2017-01-10 18:47] felixcheung commented on #157
That was fixed in my PR that you merged. You should be good - except for the codegen issue

[2017-01-10 22:34] cricket007 commented on #111
Thanks all. I'm no longer working on that project, so my memory of what I was ultimately trying to accomplish has faded. Essentially, I was comparing the capabilities & performance of actual graph databases such as Neo4j & OrientDB to that of Spark+GraphFrames without using the Spark connectors and just parsing data out of CSV files, if that makes sense.

[2017-01-11 04:52] felixcheung commented on #144
it may be talked about in class doc, in `setCheckpointInterval`, but there isn't a reference to `setCheckpointDir` in the doc for the `run` method?

I think `setCheckpointInterval` might be easily overlooked.

[2017-01-11 07:32] geoHeil commented on #157
I just ran `build/sbt -Dspark.version=2.1.0 -Dscala.version=2.11.8 spDist assembly test` which worked without any test failures.

However a `sbt publishLocal` will publish to `.ivy2/local/default/graphframes_2.11/0.4.0-SNAPSHOT-spark2.1/` Why is the default included? How should it be published correctly?

[2017-01-11 08:40] geoHeil opened #167 "building locally"
I just ran build/sbt -Dspark.version=2.1.0 -Dscala.version=2.11.8 spDist assembly test fine.

But when executing `sbt publishLocal` will publish to .ivy2/local/default/graphframes_2.11/0.4.0-SNAPSHOT-spark2.1/ Why is it named default ? How should it be published correctly?

[2017-01-16 22:10] nchammas commented on #159
Here is the code snipped verbatim from my application where I am seeing this behavior:

[code]

`round_trip_to_disk()` just writes the DataFrame out to disk and re-reads it. I use it to collapse the lineage graph and avoid optimizer bugs I've been hitting but don't fully understand, including the bug that's reported here.

Here are the plans printed out by the calls to `explain()`, alongside the o

[2017-01-17 22:46] #160 closed

[2017-01-24 18:19] 8lenka8 commented on #85
Hi,
Has this been addressed in 2016-11-12 release (Version: 0.3.0-spark2.0-s_2.11)? If not, can you let us know when it's planned for?
I've downloaded it today and am having the same issue on Python 3 but not on 2. Unfortunately, I need to use Python 3 because of something else.
Many thanks,
Elena

[2017-01-24 18:40] thunterdb commented on #85
@8lenka8 it is fixed in the master branch, but I have not pushed an official update yet

[2017-01-24 22:39] 8lenka8 commented on #85
Thanks! I'm really looking forward to using graphframes in Python3.

I have cloned the master branch and ran the build script.
However, when I launch pyspark in terminal with package graphframes-assembly-0.4.0-SNAPSHOT-spark2.1.jar (from target folder - is this the right one to use? I copied it into spark's jars folder) I get the following error.

$SPARK_HOME/bin/pyspark --packages graphframes:gra

[2017-01-26 12:56] mavencode01 opened #168 "Memory issue with double data type"
I've been wondering why am getting memory issue for the past couple of days in my spark job when I've more than enough memory to run entire job - `400G, 120Cores, 1TB disk space.`

It turns out that the Dataset contains a `Double` data type and causes some memory issue when running Connected Component algorithm

    org.apache.spark.shuffle.MetadataFetchFailedException: Missing an output
    locat

[2017-01-26 17:49] hughchristensen commented on #57
@thunterdb @jkbradley @qingpeng @mengxr @felixcheung @tsivula

[2017-01-26 19:24] felixcheung commented on #57
I could help. Where are you at?

[2017-01-27 08:12] tsivula commented on #57
Hello, I'm in Finland at GMT+2. I'll dive into this on Monday. It would be nice if I could consult you through some channel. Thank you in advance for any help.

[2017-01-31 19:24] felixcheung commented on #168
To confirm, you are running with Spark 2.0.0?
What is the data source for `genes` in your example? Do you see this issue with Spark without GF?

[2017-01-31 19:38] mavencode01 commented on #168
@felixcheung we running Spark 2.0.2 and data source is from aws RDS.

We don't have such issue without the GF, but I think is easily reproducible if you load large number of data...the bugs shows up.

[2017-01-31 20:14] felixcheung commented on #168
have you tried GF 0.3 release? there's a new connected component implementation

[2017-01-31 20:52] mavencode01 commented on #168
Yeah, tried but gave up because of the checkpoint requirements in 3.0.

I'm running on a standalone clusters and checkpoint fails because it cannot access the checkpoint directory from another node.

Will try to get an EMR cluster to setup and try.

[2017-02-01 09:32] tsivula commented on #57
Hello @felixcheung, I just pushed my implementation proposition in [this commit](https://github.com/tsivula/graphframes/commit/dc9649fff1814a770f427556019fd11ce2863813). It would be nice if you could take a look at it.

I successfully tested it locally with a simple example:
[code]

[2017-02-01 17:36] rogerthealien commented on #57
Hi,

I'm very interested in this as well. @tsivula I'm trying to test your implementation. Is it possible to use a UDF as an aggregation function?

[2017-02-02 05:25] felixcheung commented on #57
@tsivula sorry about delay, I'm getting occupied this week and next.

I checked your commit, looking good! probably next would be to add some tests for it?

[2017-02-02 14:21] roxanadanger-reedonline commented on #87
This is not the case, I am still getting the same problem.

[2017-02-02 17:36] felixcheung commented on #87
@roxanadanger-reedonline what is the problem you are seeing?

[2017-02-03 11:25] roxanadanger-reedonline commented on #87
Sorry, Felix.
I updated my comment, I was confused and used a cluster with spark 2.10.
It is working in the spark 2.11 cluster.

On 2 February 2017 at 17:36, Felix Cheung <notifications@github.com> wrote:

--
Roxana Danger | Senior Data Scientist
Dragon Court, 27-29 Macklin Street, London, WC2B 5LX
Tel: 020 7067 4568   Ext:
[image: reed.co.uk] <http://www.reed.co.uk/>
The UK's #1 job site. <http:/

[2017-02-05 10:28] tsivula commented on #57
Hello, I just created PR #169 for this.

[2017-02-08 10:29] hughchristensen opened #170 "Add BeliefPropagation Example to Python"
https://github.com/graphframes/graphframes/issues/57 is now in review.

This ticket is to add BeliefPropagation API to Python

* https://github.com/graphframes/graphframes/blob/master/src/main/scala/org/graphframes/examples/BeliefPropagation.scala

Myself and @tsivula will be working on this.

@thunterdb @jkbradley @qingpeng @mengxr @felixcheung Does anyone have any helpful input/ experiences here

[2017-02-08 21:45] jkbradley commented on #144
Mentioning it in setCheckpointInterval sounds good to me

[2017-02-09 03:56] felixcheung commented on #170
That's an example though, not an API strictly speaking.

If we have aggregateMessages in Python we should be able to implement
runBPwithGraphFrames
In Python

[2017-02-10 08:32] dingbo8128 commented on #159
I also encounter the problem, here my statistics
component  count
0       10880953
2337725	18
1008415	17
1022156	17
40512	17
240380	16
2584130	15

every time I run the algorithm, I get a different result. It's terrible!

[2017-02-10 12:25] mtoto opened #171 "GraphFrame solely from edge DataFrame"
According to the documentation:

_"A GraphFrame can also be constructed from a single DataFrame containing edge information. The vertices will be inferred from the sources and destinations of the edges."_

Is this correct and if so how can this be achieved?

[2017-02-10 15:40] nchammas commented on #159
@dingbo8128 - The workaround that worked for me was to round-trip the edges and vertices to disk (e.g. save as Parquet and then immediately load) right before calling `connectedComponents()`.

The problem appears to be related to the size and complexity of the execution plan. Round-tripping to disk collapses the plan and works around the issue.

@dingbo8128 - Could you share some details about you

[2017-02-12 17:42] abhishek-ch opened #172 "Getting ImportError while trying to use graphframe in pyspark shell in EMR"
I am simply trying to load GraphFrame in Pyspark Shell in aws EMR but I am always getting ImportError No Module named graphframes

I am using Spark 2.1.0

[code]

I am using following command to load -
`pyspark --packages graphframes:graphframes:0.2.0-spark2.0-s_2.11`

The Above issue doesn't replicate when using spark-submit command with python script.
The same issue doesn't replicate with Spark-

[2017-02-13 10:25] hughchristensen commented on #172
Sounds like a similar error to the one we have been getting. We have been discussing with AWS.

I understand that you are trying to import "graphframe" module into your PySpark session. I was able to reproduce your issue on my cluster running EMR 5.2.0.

I extracted the JAR contents and was able to import the module when I started the PySpark session from within the "graphframes" directory (becaus

[2017-02-13 11:36] abckaspersky commented on #172
Thanks for the same :-)

[2017-02-13 13:02] sandys commented on #172
this works brilliantly. Is there a plan to package/include the correct version of graphframes ? because I'm getting this exact same error on IBM, Google Cloud and AWS clusters!

[2017-02-13 15:01] Orhideous commented on #60
I had planned to add style check in #173

[2017-02-18 23:22] felixcheung commented on #172
The issue is with `--packages` command not making the python package available or loadable from the Spark client/driver. The above workaround would work fine. It might be slightly easier to have a graphframe directory as described here: http://stackoverflow.com/questions/36397136/importing-pyspark-packages

[2017-02-20 13:19] hughchristensen commented on #172
Since this is not interactive job, you can run your python script using an EMR step that would run spark-submit.

An example AWS CLI command to submit a spark step (which you can translate the param's to boto API of run_job_flow() or add_job_flow_steps())

aws emr add-steps --cluster-id j-N8QWCN5C0XCL --steps Type=spark,Name=SparkPyscriptRun,Args=[--packages,graphframes:graphframes:0.3.0-spark2.0-

[2017-02-20 14:48] sandys commented on #172
hi hugh
we were also running our analysis in an interactive mode pyspark shell.

what should we do in this case? we spawn clusters and shut them down (to
save costs).  it's fairly tricky for our data scientists to do the work
around above.

any suggestions on how to package this in a way that it works seamlessly?
we are happy to host our own packages in case you are not sure you want to
do this in

[2017-02-22 18:52] dlawre14 commented on #171
Did you ever figure out how to do this?

[2017-02-23 16:47] dylan-lawrence opened #174 "Using BFS within a map function."
I'm trying to generate a list of all shortest paths between all vertices.

`
edgePairs=g.edges.crossJoin(g.edges.withColumnRenamed('src','src2').withColumnRenamed('dst','dst2'))
paths=edgePairs.rdd.map(lambda x: [g.bfs("id='"+x['src']+"'", "id='"+x['dst2']+"'").rdd.count()])
`

The first line generates a cartesian product no problem, but the second line is throwing the following error:

py4j.Py4JE

[2017-02-24 19:06] mavencode01 opened #175 "Checkpoint to s3 not working"
I'm trying to deploy my job to aws EMR and using s3 as my checkpoint dir but I'm getting an exception using s3.

	java.lang.IllegalArgumentException: Wrong FS: s3://spark-jobs/supercluster-checkpoint/f9d90be3-bb3e-4a7f-8009-37bb4d697f67/connected-components-e7bf178a/2, expected: hdfs://ip-172-18-13-6.ec2.internal:8020
		at org.apache.hadoop.fs.FileSystem.checkPath(FileSystem.java:652)
		at org.apa

[2017-02-24 19:11] felixcheung commented on #175
It should work with this commit https://github.com/graphframes/graphframes/commit/5cfc0276d7e874c65c2be0acb1c9787e0ed27b26

Would you be able to run against the latest source of GraphFrame?

[2017-02-24 19:27] mavencode01 commented on #175
Is that published yet to the spark packages ?

[2017-02-24 23:08] felixcheung commented on #175
Not yet, AFAIK.

[2017-02-27 00:59] mavencode01 commented on #175
Thanks @felixcheung I was able to run against the latest source and it worked.

[2017-02-27 00:59] #175 closed

[2017-02-27 02:04] chiangqiqi commented on #159
encounter  with this same problem, bypass using the  `round_trip_to_disk` method.

[2017-02-27 03:50] nchammas commented on #159
@dom9988 @dingbo8128 @chiangqiqi - To help track down the source of this issue and perhaps boil it down to a minimal repro, can you share details about your environment where you are seeing this issue?

For example, please share:
* What versions are you using of the following?
  * GraphFrames
  * Spark
  * Hadoop
  * Python / Scala / Java
  * YARN / Mesos (if present)
* What operations are in the

[2017-02-27 06:08] chiangqiqi commented on #159
What versions are you using of the following?

- GraphFrames 0.2.0 / 0.2.0

- Spark 2.1.0
- Hadoop 2.7.1
- Scala  2.11.7

What operations are in the execution plan when you see this incorrect behavior?

[code]
this did cause the error just as @nchammas show , most vertex has component 0,
after `round_trip_to_disk` before generate the `GraphFrame`, the result is resolved.

[2017-02-27 14:20] nchammas commented on #159
That is both interesting and concerning. Seems you don't need such a complex plan to reproduce this issue.

[2017-02-27 18:10] mavencode01 opened #176 "How to create Directional graph with Graphframe"
I'm trying to run the connected component algorithm to cluster my dataset using a directional graph (similar to a recursive query).

Is there any way to create a directional graph such that the connected component only transverse in one direction? So far, I haven't seen how to in your documentation. @felixcheung any idea please?

[2017-02-28 08:23] felixcheung commented on #176
are you looking for https://en.wikipedia.org/wiki/Strongly_connected_component?

[2017-02-28 11:17] mavencode01 commented on #176
@felixcheung I don't think SCC can be used here (correct me if I'm wrong) since it requires every node to be reachable from other nodes. But basically, I need to do a recursion like SQL recursive query.

For example:
[code]

Strongly CC:
[code]

Connected component:
 It will be the set = ```{a, b, d, m}``` -- notice and `m` connected to the node`a -> b -> m` too

But in recursion
[code]

[2017-03-01 15:01] AbdealiJK commented on #172
I have the same concern as @sandys

[2017-03-02 00:14] mavencode01 commented on #176
correct, it needs to avoid loops too. I'm wondering if Pregel can do this?

[2017-03-02 03:11] AbdealiJK commented on #104
I seem to have a similar issue where I do:
[code]
in a Jupyter notebook and then import pyspark. After that, I can use `spark-csv` correctly but `import graphframes` does not work.

Using Spark 2.0.1 with graphframes-0.3.0-spark2.0-s_2.10.jar from spark-packages.

[2017-03-02 03:30] AbdealiJK commented on #104
Follow up:
I tried copying the graphframe's python/graphframes folder as mentioned by @leoneu in https://github.com/graphframes/graphframes/issues/104#issuecomment-243590062 and it worked.

This works with Py2.7 and Py3.5

[2017-03-02 20:07] makalaaneesh commented on #148
@felixcheung Hey, I've come across this exact need on my current project. Great idea! Just wanted to know the status on this feature. Also, GraphFrames hasn't yet interfaced this GraphOps function [staticParallelPersonalizedPageRank](https://spark.apache.org/docs/2.1.0/api/java/org/apache/spark/graphx/GraphOps.html#staticParallelPersonalizedPageRank(long[],%20int,%20double)) (Introduced in Graphx

[2017-03-04 02:22] microcat commented on #104
I encountered similar errors with PySpark and was able to solve it by passing in the jar with `--py-files` as well as with `--jar`: eg

``spark-submit --jars $JAR_PATH --py-files $JAR_PATH`

[2017-03-07 16:21] hughchristensen commented on #57
@thunterdb @jkbradley @qingpeng @mengxr @felixcheung Hi Guys. Can you help get this PR through please. We can not continue developing for this library until the PR has been accepted.

Please can you do a best effort to get this done as we have dev resources waiting to go now. thank you!

[2017-03-07 22:55] felixcheung commented on #57
As signed off previously, this looks good to me.

Sorry someone else would need to jump in to merge this.

[2017-03-14 00:07] rahul1 commented on #159
Is anyone planning on fixing this? I have a project that uses graphx that needs to be ported to graphframes, but I am blocked on this issue

[2017-03-14 19:40] szhem commented on #159
I'm also interested in this issue.
Just guessing - is it somehow possible that in the samples above, for example, in this one
[code]
there is a standard hadoop's InputFormat involved (which usually reuse key and val instances)?
If so, I believe, there will be incorrect results in case of any combine-containing operations (like reduceByKey, etc) which follows reading the data.

@dom9988, @dingbo812

[2017-03-15 20:48] maver1ck opened #177 "Incorrect results for in and out degree count"
Hi,
I have following problem.
I tried to do the filtering based on vertices and then run inDegree method but unfortunately this method is using only edges to calculate in-degree count.

Sample from QuickStart:
[code]

With the filtering:
[code]
Nothing changed.
Is it proper behaviour ?

[2017-03-16 03:06] pgok commented on #150
@thunterdb Can you please share some (pseudo?) code to do this? I am trying to do the same thing as @mavencode01

[2017-03-16 06:02] chiangqiqi commented on #159
@szhem amazing
I changed the code to

[code]

and the result seems to be right.

so can you give a more detailed explaination on what's happening behind this?

[2017-03-16 16:26] felixcheung commented on #177
instead of filtering vertices, you would need to filter on the edges instead
this is tracked by issue #49

[2017-03-16 16:28] felixcheung commented on #162
btw, this is something we could greatly benefit from the newer DataFrame.checkpoint API instead of rolling our own. Without access to the private tracking and clean up logic in SparkContext it is hard to clean up properly.

[2017-03-17 03:33] bcajes commented on #76
Hi, in the process of familiarizing myself with this library, I've decided give this one a shot.  Let me know if the following is more or less what is needed:
https://github.com/graphframes/graphframes/compare/master...bcajes:master
If so, I'll add checks for the remaining algorithms.

[2017-03-17 19:49] szhem commented on #159
@chiangqiqi Quite often spark uses standard hadoop [InputFormats](https://hadoop.apache.org/docs/r2.7.3/api/org/apache/hadoop/mapreduce/InputFormat.html) and [RecordReaders](https://hadoop.apache.org/docs/r2.7.3/api/org/apache/hadoop/mapreduce/RecordReader.html) to read the data from hdfs-compatible filesystem.

Standard RecordReaders usually reuse the same instances of key, value for different re

[2017-03-17 20:10] nchammas commented on #159
Thanks for the explanation @szhem. Do you know what the equivalent would be in Python?

Is this sufficient to prevent the reuse of record IDs?

[code]

Or do we need something more involved, like this?

[code]

[2017-03-24 23:25] estebandonato opened #178 "allow AggregateMessages send multiple columns to src and dst"
Current implementation of AggregateMessages stores the columns sent to source and destination vertices in an Option[Column]. This means that if I call either sendToSrc or sendToDst multiple times from the same AggregateMessages instance, just the column specified in the last call is stored and all the previous ones are missed. I.e.:

g.aggregateMessages
      .sendToSrc(AM.dst("age"))
      .sendT

[2017-03-25 23:30] felixcheung commented on #178
I think generally that this improved flexibility sounds like a good idea.
(I could help review though I won't be able to commit change for you)

[2017-03-27 17:43] jkbradley commented on #76
Yep, adding checks in the setter methods is right.  Just one comment about tests: Can you please use this pattern which we use in Spark itself?
[code]
Thanks!

[2017-03-27 17:52] jkbradley commented on #148
@makalaaneesh  It'd be nice to wrap personalize pagerank for GraphFrames.  Would you mind creating a new issue to track that?

[2017-03-27 17:54] jkbradley commented on #104
@microcat Thanks for pointing out the need for the py-files flag!  @slavakx and @AbdealiJK does that fix it for you?

[2017-03-27 17:57] jkbradley commented on #177
@felixcheung Thanks for answering here!  @maver1ck I'll go ahead and close this issue and take it as a vote for fixing the other.

[2017-03-27 17:57] #177 closed

[2017-03-27 18:05] jkbradley commented on #168
@mavencode01  When you write "143M records," is that the number of vertices or edges?  What are the numbers of vertices & edges?

Also, do you have very high degree vertices (10-100M)?  If so, then the new implementation should be much more scalable.  Any luck with a cluster which allows attaching an external filesystem for checkpointing?

[2017-03-27 18:55] jkbradley commented on #157
I'm going to see about creating a release for 0.4.0 with versions for spark 2.0 and 2.1

[2017-03-27 20:39] jkbradley commented on #165
This is still an issue.  I just reported it: https://issues.apache.org/jira/browse/SPARK-20111

[2017-03-27 20:45] jkbradley commented on #157
Query: I'm thinking about dropping support for Spark 1.6 (1 1/4 years old).  Any protests?

[2017-03-27 22:00] jkbradley commented on #165
Nevermind!  Not an issue.  Fixed in Spark 2.1.1 and 2.2.0.  (I just tested it manually with master.)

[2017-03-27 22:00] #165 closed

[2017-03-27 22:00] jkbradley commented on #116
I just tested this with master, and it's been fixed by https://github.com/apache/spark/pull/16513

[2017-03-27 22:00] #116 closed

[2017-03-28 00:13] jkbradley commented on #157
I'm still working on prepping updated docs, but I'll send a PR soon

[2017-03-28 04:21] felixcheung commented on #157
most of hadoop distro out there are still going as preview for Spark 2.x, or just starting to support 2.x within the last month or 2, so perhaps it makes sense to keep 1.x support for a bit longer.

[2017-03-28 04:27] jkbradley commented on #166
https://github.com/graphframes/graphframes.github.io/pull/7

[2017-03-28 15:07] estebandonato commented on #178
great, I will be working on this feature

[2017-03-28 20:52] jkbradley commented on #157
Fair enough.  I won't remove support yet in case we make major changes to GraphFrames in the near future.

[2017-03-28 21:10] slavakx commented on #104
Finally the updated version of graphframes started to work for me:

pyspark --packages graphframes:graphframes:0.4.0-spark2.1-s_2.11

[2017-04-05 16:01] mdespriee opened #181 "(question) multiple type of vertices"
Hi folks,

I'm very interested in GraphFrames, especially in the motif finding (this just rocks !).

In my use case, the graph mixes vertices of several distinct types. In GraphX, I would use RDDs of some root type, derived in several case classes for my different types.
I understand this approach won't work with dataframes (cannot mix rows of different schema...)

What would be your recommendatio

[2017-04-07 11:38] szhem commented on #159
Hi @nchammas,

I'm not very familiar with pyspark - it uses py4j bridge and it requires additional investigations.

@chiangqiqi, could you please check whether copying dataframe rows solves the issue?

[2017-04-17 21:02] felixcheung commented on #178
let me know what I can help with

[2017-04-17 21:19] felixcheung commented on #172
I think the main step is the `--packages` parameter? is this not going to work with on-demand cluster?

[2017-04-17 21:19] felixcheung commented on #171
have you checked out the `fromEdges` API
https://github.com/graphframes/graphframes/blob/master/src/main/scala/org/graphframes/GraphFrame.scala#L618

http://graphframes.github.io/api/scala/index.html#org.graphframes.GraphFrame$

[2017-04-17 22:40] estebandonato commented on #178
sorry for the delay but I've been very busy these days. Hopefully I should have my first PR by this week. Let you know if I get stuck and need any help. Thanks

[2017-04-19 23:31] jkbradley opened #184 "Add wrapper for GraphX parallelized personalized PageRank"
GraphX added parallelized personalized PageRank in Spark 2.1.  It'd be nice to add a wrapper for that in GraphFrames.  If you're interested in working on this, please state the proposed API before you begin implementation.  Thanks!

[2017-04-22 12:04] caseyvu commented on #172
@hughchristensen : great guide! just 1 issue though, in step 3 where we zip the graphframes folder, I realized that I should zip the whole folder, like so:
(from the parent folder of graphframes)
zip -r graphframes.zip graphframes

[2017-04-22 19:40] gac55 opened #185 "Shortest path algorithm - support for weighted graphs"
# Feature request

Forgive me if I'm mistaken, but I don't believe there is support for weighted graphs within the shortest path algorithm. It would be a great addition.

From the docs:

[code]
Previously, using the scala graphx implementation, I utilised a Dijkstra's implementation by Michael Malak and Robin East:

[code]

I shall try and see if I can implement this (I'm a beginner, so could take

[2017-04-23 01:04] felixcheung commented on #185
right, gf is simply calling graphx which doesn't seem to consider weight.
perhaps you can convert your implementation with gf aggregateMessages?

[2017-04-24 04:29] estebandonato commented on #178
please see my PR #186

[2017-04-25 08:28] felixcheung opened #187 "Include examples, eg. belief propagation, in test runs"
there's a fair bit of code in there and we should figure out how to run it and validate results

[2017-04-26 19:23] #57 closed

[2017-04-26 19:23] #170 closed

[2017-05-02 22:24] jkbradley commented on #184
@phi-dbq is interested in taking this.  Thanks!

[2017-05-04 00:59] jkbradley commented on #159
@nchammas and others, thanks a lot for reporting these issues and discussing here.  Apologies for the slow response.

A few questions:
* Are your vertex indices Int or Long types?  Or are they something different like String?
  * If they are not integer types, then my first impulse is to blame indexing.  We've hit many bugs with DataFrame and RDD computation of unique IDs, and there are still open

[2017-05-04 02:17] nchammas commented on #159
@jkbradley:
* My vertex indices are of type `Struct[String, String]`. The PySpark code that builds the vertices DataFrame is basically the following:
[code]
* I am seeing the buggy behavior with ConnectedComponents 0.3 using the new DataFrame-based algorithm, but if I remember correctly I also tried and saw it with the older RDD-based algorithm too.

[2017-05-04 15:34] mengxr commented on #159
Based on the behavior, I guess the issue is very likely to be nondeterministic ID assignment. A relevant bug was fix in 2.1.0: https://issues.apache.org/jira/browse/SPARK-14393. In GraphFrames, we convert DataFrames into rdd to get around of this bug. See https://github.com/graphframes/graphframes/blob/master/src/main/spark-2.x/org/apache/spark/sql/SQLHelpers.scala#L33. However, if the source Data

[2017-05-04 15:35] mengxr commented on #159
@nchammas I will create a PR to fix it. Could you help test after? Thanks!

[2017-05-04 15:40] nchammas commented on #159
@mengxr - I would be happy to help test a fix. FWIW, note that I see the buggy behavior with Spark 2.1.0 too. I haven't tested with 2.1.1 yet.

[2017-05-04 15:51] mengxr commented on #159
That's expected. We fixed the bug in 2.1.0, but we didn't switch to use it in graphframes. Because we need to support multiple spark versions here.

[2017-05-04 15:55] nchammas commented on #159
Ah, understood. Hence your note about the more expensive fix. 👍

[2017-05-04 16:03] mengxr commented on #159
@nchammas I sent a patch at #189.

[2017-05-08 07:07] ghost opened #190 "error: missing or invalid dependency detected while loading class file 'Logging.class'."
I have run a command `spark-shell --jars /home/krishnamahi/graphframes-0.4.0-spark2.1-s_2.11.jar` and it threw me an error

Could not access term typesafe in package com,
because it (or its dependencies) are missing. Check your build definition for
missing or conflicting dependencies. (Re-run with `-Ylog-classpath` to see the problematic classpath.)
A full rebuild may help if 'Logging.class' was c

[2017-05-08 22:57] mengxr commented on #159
Hi all, #189 should fix this issue with a more expensive but reliable way to assign long IDs. We will make a bug fix release after it gets merged.

[2017-05-09 03:32] felixcheung commented on #190
hmm, I think it has been reported that `com.typesafe.scala-logging` is not included in the graphframe jar - could you download that and add that as a separate `--jars`?

We might need to look at how the release jar is packaged.

[2017-05-09 03:33] felixcheung commented on #190
basically, this comment https://github.com/graphframes/graphframes/issues/113#issuecomment-261492754

[2017-05-09 17:30] jkbradley commented on #184
Scala API merged.  I'll leave this issue open for the Python API + user guide updates.

[2017-05-10 17:49] jkbradley commented on #157
I forgot to close this issue before.  Closing now.

[2017-05-10 17:49] #157 closed

[2017-05-10 22:25] jkbradley opened #193 "Remove Apache Spark 1.6 support"
I'd like to remove 1.6 support
* I have not heard any complaints about not publishing a 1.6 version of the latest GraphFrames release.
* It is causing complications for https://github.com/graphframes/graphframes/issues/159  (where tests are suddenly much slower, though I'm not sure why yet).
* Later version of Spark are consistently better for GraphFrames b/c of DataFrame performance improvements

[2017-05-10 22:25] jkbradley commented on #193
CC @nchammas @felixcheung  Does this sound OK to you?

[2017-05-10 23:59] nchammas commented on #193
Fine with me. We use GraphFrames with 2.0.2 and are planning to upgrade to 2.1.1 this month.

[2017-05-11 01:12] phi-dbq opened #194 "Slow connected component checkpoint interval test"
On a fairly recent MacBook Pro laptop and on the Travis CI, the [connected component check interval test](https://github.com/graphframes/graphframes/blob/master/src/test/scala/org/graphframes/lib/ConnectedComponentsSuite.scala#L161) takes very long time to finish.

- with `-Dspark.version=1.6.3 -Dscala.version=2.10.6`
  - checkpoint interval (9 minutes, 53 seconds)
- with `-Dspark.version=2.1.1 -D

[2017-05-11 03:05] felixcheung commented on #193
Ok, I checked around. Probably much easier to maintain if only on 2.x release

[2017-05-11 16:08] phi-dbq commented on #194
Looks like this might be a side effect of the newly introduced fix for consistent integer ID for vertices.

[2017-05-11 21:58] jkbradley commented on #193
OK thanks!  I'll send a PR soon

[2017-05-11 23:42] mengxr commented on #159
FYI, we merged the fix into master (#195).

[2017-05-11 23:47] mengxr commented on #194
FYI, this is slow in 1.6 because there were some plan optimizer improvement in 2.0.

[2017-05-18 18:36] nchammas commented on #159
I suppose we can close this issue as resolved now that [GraphFrames 0.5.0 has been released](https://github.com/graphframes/graphframes/releases/tag/release-0.5.0).

[2017-05-18 18:42] mengxr commented on #159
Thanks everyone for reporting the issue and sorry for the late follow-up!

[2017-05-24 10:07] MrStepson opened #200 "How to find all paths between two specific graph nodes?"
I'm looking for algorithm to find ALL paths (limited by max path length)  between vertex A and vertex B. Is there any method in GraphFrame which could be used for this?

[2017-05-30 16:16] thomasopsomer opened #201 "bug: ConnectedComponents: error 'Unable to infer schema for Parquet. It must be specified manually'"
Hi,

When computing `connectedComponents`using the graphframes algorithm I get the following error:
[code]
Looking at the code, I guess this is due to saving an empty checkpoint in parquet format. Because there are similar issues with spark when trying to load empty parquet files. So maybe more a spark issue, however in the meantime, checking if the [`ee`](https://github.com/graphframes/graphframe

[2017-05-31 01:32] felixcheung commented on #201
thanks- do you know how dataframe is empty?

[2017-05-31 08:04] thomasopsomer commented on #201
Actually I don't. It is a guess, because of the similar issues I've seen around... Other information: the graph I'm working on is very sparse like 4M node and 3M components...

[2017-05-31 16:15] felixcheung commented on #201
I see, I think that would be very good to have. Would you be interested in contributing a fix and test for this?

[2017-05-31 22:59] thomasopsomer commented on #201
Yes sure, I'll see if it handling empty parquet fixes the issue and if so then submit a PR :)

[2017-06-06 16:37] mengxr opened #202 "GraphFrames.fromEdges may generate unstable ordered vertices"
We use union + distinct to generate the vertices, which doesn't guarantee stable order and hence might have the same non-deterministic ID assignment issues (#159).

[2017-06-06 16:42] mengxr opened #203 "Update ConnectedComponent.symmetrize once we remove Spark 1.6 support"
The current implementation (https://github.com/graphframes/graphframes/blob/master/src/main/scala/org/graphframes/lib/ConnectedComponents.scala#L170) requires two passes over the edges, mainly to have the same code to support both Spark 1.6 and 2.x. Once we removed Spark 1.6 support (#193), we should optimize the implementation to speed-up CC.

[2017-06-07 22:55] kevinykuo commented on #108
Greetings! Wanted to let y'all know I've started to work on a sparklyr extension at https://github.com/kevinykuo/sparklygraphs.

[2017-06-11 07:58] felixcheung commented on #203
closed by #205

[2017-06-11 07:58] #203 closed

[2017-06-11 07:59] felixcheung commented on #193
closed by #204

[2017-06-11 07:59] #193 closed

[2017-06-12 19:17] mengxr opened #206 "Use Dataset.checkpoint instead of writing DataFrames manually in CC"
Spark 2.1 added `Dataset.checkpoint` (https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala#L543). So we do not need to manually checkpoint edges in CC. Need to verify performance are not affected.

[2017-06-13 02:13] felixcheung commented on #206
this would fix #162 too

[2017-06-13 14:46] paulovn opened #209 "Missing Python files in GraphFrames 0.5.0 jar"
The GraphFrames JAR for the 0.5.0 version seems to lack a couple of Python files that are in the source package:

    graphframes/lib/__init__.py
    graphframes/lib/aggregate_messages.py

As such, the `AggregateMessages` class is not available. Trying to load the Python examples also fails, since they contain an import

    from graphframes.lib import AggregateMessages as AM

... which produces a

[2017-06-13 17:32] mengxr commented on #194
Closing this after removing 1.6 support.

[2017-06-13 17:32] #194 closed

[2017-06-13 17:39] mengxr opened #213 "Allow users to set intermediate storage level in CC"
This would help users test different storage settings for performance tuning.

[2017-06-14 03:21] bjjiangfs opened #214 "Why NullPointerException for connected components?"
Hi,

I am trying to retrieve connected components from a graph, but when g.connectedComponents() is executed, the program starts to give NullPointerException. My test data is pretty small which contains only 12 nodes and some edges (no orphan nodes). The final result seems correct, but those exceptions really bother me. Would you please give me some ideas how to get rid of them? Thanks!

(More det

[2017-06-14 16:23] felixcheung commented on #209
This might be something we missed in the package description

[2017-06-14 19:48] mengxr commented on #213
done by #215

[2017-06-14 19:48] #213 closed

[2017-06-18 20:28] thomasopsomer opened #216 "[How to] use in pyspark using the assemby jar ?"
Hi,

While working on some changes in graphframes, I'm wondering how do I need to use the assembly jar to use the python graphframes API ? When running `pyspark --jars <path to jar>`, it doesn't find the python bindings, how do I specify that ?

Thanks,
Thomas

[2017-06-20 16:25] mengxr commented on #216
You also need to add the assembly jar to `--py-files`.

[code]

[2017-06-20 16:33] mengxr commented on #214
@bjjiangfs Could you report the bug at https://issues.apache.org/jira/browse/SPARK? This doesn't seem specific to graphframes. Thanks!

[2017-06-20 16:33] #214 closed

[2017-06-20 17:19] thomasopsomer commented on #216
Tks !

[2017-06-20 17:21] #216 closed

[2017-06-20 19:10] mengxr commented on #209
Thanks for reporting the bug! I think the root case is in the sbt-spark-pacage plugin we use: https://github.com/databricks/sbt-spark-package/blob/master/src/main/scala/sbtsparkpackage/SparkPackagePlugin.scala#L190. I will work on a fix soon.

[2017-06-20 23:37] mengxr commented on #209
Sent a fix at https://github.com/databricks/sbt-spark-package/pull/34. Waiting for a new release of sbt-spark-package.

[2017-06-21 01:46] #209 closed

[2017-06-21 01:47] mengxr commented on #209
@paulovn Please wait for the next release or build your own from master to fix the issue.

[2017-06-21 04:04] #171 closed

[2017-06-21 05:56] paulovn commented on #209
ok, thanks for the fix!

[2017-06-27 12:57] Swalloow opened #218 "Cannot load graphframes in zeppelin"
Hi, I tried to add graphframes as a spark package in my zeppelin interpreter.
But I get the following error:

[code]

I tried to jar files but it also didn't work in pyspark. Same as following question.
[https://stackoverflow.com/questions/43357329/pyspark-importerror-no-module-named-graphframes-in-zeppelin-0-7-1-osx](url)

[2017-06-27 16:14] felixcheung commented on #218
How did you add it? it looks like you are adding it as an artifact - try adding it as a spark package

[2017-06-27 23:55] estebandonato opened #219 "Make edgeStorageLevel and vertexStorageLevel configurable"
Most of the GraphFrame algorithms are wrappers of GraphX algorithm implementation. That's the case of PageRank, LabelPropagation, StronglyConnectedComponents, etc. It turns out that all these algorithms use the Pregel api implemented in GraphX. Internally, Pregel caches the vertex and edge RDDs on each iteration. The storage levels used by Pregel to cache the vertices and edges are the ones passed

[2017-06-28 02:32] Swalloow commented on #218
@felixcheung Thanks! You're right. I adding it as an artifact.
So I added it to the $ SPARK_SUBMIT_OPTIONS environment variable in zeppelin-env.sh.
It works well.

[2017-06-29 00:30] thunterdb commented on #219
@estebandonato that sounds like a great idea. Feel free to submit a PR along the lines of what was done in #213 .

[2017-06-29 02:20] felixcheung commented on #219
do you have a specific need for vertex and edge at different storage level?

[2017-06-29 05:43] #218 closed

[2017-06-29 15:20] estebandonato commented on #219
@felixcheung no, I usually use the same storage level for both vertex and edge, however I would like to leave the api open to contemplate any combination. Thoughts?

[2017-07-05 12:33] AydinChavez opened #220 "question about BFS result & definition of a route/path"
Hi,

first of all this is not a high prio issue but should be an easy one.

I was playing around with the BFS method and am a little surprised that a bfs filter of
source like % and dest like %
provides a result where the vertice-id's of the source and destinations are equal.

I understood BFS as an algorithm to find shortest **ROUTES** .
But the vertices in the input data do  not reference themse

[2017-07-28 11:02] praetp opened #222 "Spark 2.2 support"
Spark 2.2 comes with important fixes such as https://issues.apache.org/jira/browse/SPARK-5484.
I hope we can see a new release of GraphFrames for Spark 2.2 ?

[2017-08-01 07:43] felixcheung commented on #222
Thanks! - WIP in #223

[2017-08-01 19:55] tantalus1984 opened #224 "Enhance scalability of graphframes"
Dear all,

I've been working with Graphframes in order to implement a realtime graph query engine. Initially, the performance was very promising since we are heavily utilizing Spark caching on top of our Graphframes layer, but now that we scale beyond 100.000 edges I am dealing a lot with OutOfMemory exceptions or "Size exceeds Integer.MAX_VALUE". I find it increasingly difficult to scale Graphfra

[2017-08-01 20:12] tantalus1984 commented on #224
One specific question that I have: Given a large graph and a 5-level Motif query "(A)-[]->(B); (B)-[]->(C); (C)-[]->(D); (D)-[]->(E)" what is influencing
- the memory consumption of an executor
- the execution time of the Motif query
and how can I control the influencing factors?

[2017-08-03 13:23] brelloch opened #226 "Connected Components Performance"
I am running on spark 2.1, graphframes 0.5 and AWS EMR with 3 r4.xlarge instances. When the generating the connected components for a graph of about 12 million edges it is taking around 3 hours. Is this the expected performance or are there way to tune things to improve it?

The code is below. I am fairly new to spark so any suggestions would be awesome.
[code]

[2017-08-04 10:55] estebandonato commented on #219
Finally I have finished PR #225 which addresses this issue. Please review it and let me know your feedback.

[2017-08-18 10:47] saurabhbidwai opened #227 "while doing kafkaStream = KafkaUtils.createDirectStream(ssc, ['twitterstream'], {"metadata.broker.list": ["dn1001:6667","dn2001:6667","dn3001:6667","dn4001:6667"]})"
Py4JJavaError                             Traceback (most recent call last)
<ipython-input-5-b7be21171e16> in <module>()
----> 1 kafkaStream = KafkaUtils.createDirectStream(ssc, ['twitterstream'], {"metadata.broker.list": ["dn1001:6667","dn2001:6667","dn3001:6667","dn4001:6667"]})

/usr/hdp/current/spark-client/python/lib/pyspark.zip/pyspark/streaming/kafka.py in createDirectStream(ssc, topics, ka

[2017-08-18 17:55] #226 closed

[2017-08-18 18:47] felixcheung commented on #227
sorry this is a spark question - please see if you can get help on stackoverflow.

[2017-08-18 18:47] #227 closed

[2017-08-24 12:21] imranrajjad opened #228 "spak-graph frames outdated scala scala dependencies conflict"
Hello,

I am trying to use the Grame Frames over data queried from Solr Cloud through Spark-Solr connector. Unfortunately, their seem to be conflicts on the `com.typesafe.scalalogging.Logger` class. I have reported the issue to Spark-Solr Dev team ( []https://github.com/lucidworks/spark-solr/issues/169 ), they said that it is not possible for them to downgrade the connector. Are there any plans to

[2017-08-25 07:15] felixcheung commented on #228
sounds like we need to shade to avoid this conflict.

[2017-08-25 11:25] estebandonato commented on #219
@thunterdb @felixcheung I was wondering if any of you guys could review PR #225 that addresses this issue and provide feedback. Thanks!

[2017-08-25 17:14] felixcheung commented on #219
yes! will do shortly. thanks for the patience.

[2017-08-26 05:50] sandys commented on #172
hi guys,
has there been any progress on this issue ? There are different modes in which people run pyspark (zeppelin in cluster mode, pyspark shell, spark-submit). It would be really great to have a way where graphframes is seamlessly available through commandline.

We have been doing a workaround of spark.sparkContext.addPyFile(os.path.expanduser(GRAPH_FRAME_JAR_PATH)) - but this then works diffe

[2017-08-26 06:34] felixcheung commented on #172
I think this is an issue with how pyspark shell handles Spark packages (`--packages`).
Probably best to follow in the Spark project. Please open a JIRA https://issues.apache.org/jira/issues/?jql=project%3DSpark and feel free to add me to it.

[2017-08-26 06:37] sandys commented on #172
@felixcheung  thanks for replying! In your experience does Zeppelin-pyspark (or other altenatives to pyspark shell) avoid these issues ? Or does this happen with every pyspark related tool.

I'm kind of looking for something that will let me move ahead with this for the time being.

[2017-08-26 07:36] sandys commented on #172
@felixcheung one more question - is there a way to copy the graphframes library jar + python code into the pyspark installation such that i dont even have to muck around with the --jars or --files or anything. just have it seamlessly available ?
If this is possible, i will setup my spark install script to do this (on my entire cluster), rather than depend on commandline. this will be a big help !

[2017-08-26 09:53] vnwarrior commented on #209
@paulovn sorry for commenting on an old bug - I build a the new assembly using "sbt assembly" . I got graphframes-assembly-0.6.0-SNAPSHOT-spark2.1.jar .

How do I use this inside pyspark ? i tried pyfiles and jars, but constantly i keep getting "no module named graphframes". Should i copy the jar to some location or something ?

thanks!

[2017-08-28 16:28] felixcheung commented on #172
try `spark.submit.pyFiles`? http://spark.apache.org/docs/latest/configuration.html#runtime-environment

[2017-08-28 18:06] sandys commented on #172
hi felix
thanks for replying. I thought of this - but i didnt know how to handle the
situations where im running the code in local mode versus cluster mode.
I have done something else now - i have taken the jar file and dropped in
inside /usr/lib/spark/jars and then i created a wheel file from your python
code and installed it on the same machine.
now graphframes works fine.
I wonder if there is w

[2017-09-06 12:50] imranrajjad commented on #228
that's good to hear. is a shaded version available on maven?

[2017-09-06 16:54] felixcheung commented on #228
not at the moment, we would need to do some work in the build to get it to shade.
for reference, http://manuzhang.github.io/2016/10/15/shading.html

[2017-09-10 12:34] asdspal opened #229 "type GraphFrame not found"
I'm getting following error while running a simple example from graphframes docs in notebook apache-toree scala kernel

Name: Compile Error
Message: <console>:18: error: not found: type GraphFrame
       val g: GraphFrame = examples.Graphs.friends
              ^
apache- spark version = 2.2
graphframes version = 0.5.0-spark2.1-s_2.11

[2017-09-10 17:20] felixcheung commented on #229
you might need to check with the toree project on how it handles spark packages like graphframe..

[2017-09-10 17:58] asdspal commented on #229
Hey, when I run "import org.graphframes.examples ", I don't get any error.
 Yes, I will check with toree project.

[2017-09-10 18:03] felixcheung commented on #229
maybe you need to import `org.graphframes` first?

[2017-09-10 18:20] asdspal commented on #229
Thanks, got it working after clearing the local maven and ivy caches.

[2017-09-10 18:29] #229 closed

[2017-09-11 19:25] johndavidmiller opened #230 "build error: "reference to fork is ambiguous""
simply trying to build a fresh git clone on Mac OS X, Scala 2.11, Anaconda Python:

$  sbt assembly
[info] Loading global plugins from /Users/jdmille2/.sbt/0.13/plugins
[info] Loading project definition from /Users/jdmille2/Workbench/spark/graphframes/project
[info] Updating {file:/Users/jdmille2/Workbench/spark/graphframes/project/}graphframes-build...
[info] Resolving org.fusesource.jansi#jansi;

[2017-09-12 12:57] artem-aliev opened #231 "pageRank return incorrect results within graphframe 0.4+ spark 2.2 combination"
the strange thing is: all graph frames version return the same result with spark 2.0
graph frame 0.3 return the same result with spark 2.2
so only latest graph frames and latest spark return different numbers.
I also checked with apache tinkerPop, that algorithm return the same results as spark 2.0
So it looks like an issue.

Here is a code I use to reproduce
[code]

Outputs:

spark-2.0.2-bin-hado

[2017-09-12 13:05] artem-aliev opened #232 "pageRank performance degradation 12 times! in 0.5"
pageRank run 12 times slower with 0.5 compared to 0.4. What could be a reason?
Is other graph algorithms affected?
[code]

Spark 2.0.2 graphframes:graphframes:0.4.0-spark2.0-s_2.11, time: 6934ms
Spark 2.0.2 graphframes:graphframes:0.5.0-spark2.0-s_2.11, time: 87887ms

[2017-09-13 14:32] artem-aliev commented on #231
Looks like not a problem but Spark 2.2 pageRank fixes:
SPARK-18845, SPARK-18847

graph frame 0.4 also dropped its own pageRank implementation and switch to spark one.
So these two fixes give that strange results.
The bug could be closed.

[2017-09-13 16:09] felixcheung commented on #231
right, there are a few changes to pagerank in spark in 2.2
do you get a sense of whether the results are better though?

[2017-09-14 12:16] artem-aliev commented on #231
The result is better. now it compatible with the wiki
Wiki: https://en.wikipedia.org/wiki/PageRank#Simplified_algorithm

 I'll talk with tinkerPop guys, as the have the same issue.

[2017-09-14 13:41] artem-aliev commented on #232
It is regression caused by #159 fix.
Removing persist from following line restore performance and should not affect id consistency if vertices are reordered:
https://github.com/graphframes/graphframes/blob/d43779712f586c664e88565dfbaa77a700e186cf/src/main/scala/org/graphframes/GraphFrame.scala#L483

1. I'm surprised that this persist cause a lot of writes. 10MB per stage for small 7 vertex graph:

[2017-09-14 21:05] danielfx90 opened #233 "Inaccurate PageRank docs"
## **Current situation**
PageRank scala docs and user guide say that the implementation which runs for a fixed number of iterations (through the `maxIter` parameter) uses the Graphframes interface when in fact it uses the graphX's Pregel one.

## **What needs to be done?**
Both docs should match what the code does.

**Note:** I'll be creating a PR for this

[2017-09-15 03:45] felixcheung commented on #232
perhaps we should just allow storage level to be configurable? we have some open PR on that line.
can you explain more about 2. in your post?

[2017-09-15 03:47] felixcheung opened #235 "Personalized PageRank broken in Spark 2.2+"
A change in personalized page rank has broken GraphFrames due to GF's use of Long vertex ID apache/spark#16483

[2017-09-15 03:47] felixcheung commented on #235
from work to support 2.2 #223

[2017-09-15 09:48] artem-aliev commented on #232
If you think, that it is to risky to remove persist call,
here is one more approach that improve performance for small graphs. i got 10905ms wit it.
So
Now: 69795ms
repartition: 10905ms (6.4 times)
repartition+no_persist: 4929 (14 times)

[2017-09-15 12:02] imranrajjad commented on #228
I will give it a try, the same error occurs now in spark-shell of 2.1.1 also. Due to which I am having trouble using graph frames on cluster. For the moment it is only working in standalone embedded Java application

[2017-09-15 12:27] rajekra commented on #232
The given page rank example itself not working. And its executing continuously.

[2017-09-15 12:28] rajekra commented on #232
import java.util.ArrayList;
import java.util.List;

import org.apache.spark.api.java.JavaSparkContext;
import org.apache.spark.sql.Dataset;
import org.apache.spark.sql.Row;
import org.apache.spark.sql.SparkSession;
import org.apache.spark.storage.StorageLevel;
import org.graphframes.GraphFrame;
import org.graphframes.lib.PageRank;
import org.graphframes.lib.ParallelPersonalizedPageRank;

public cl

[2017-09-17 01:02] brifordwylie opened #238 "Create graphframes python package"
Would be great to have a PyPI package for this so folks can just do a $ pip install graphframes.  The current method of ripping apart the jar/zip file, finding the python files and pointing your PYTHONPATH at them (as discussed in https://github.com/graphframes/graphframes/issues/172) seems suboptimal.

[2017-09-17 01:06] brifordwylie commented on #172
I've created a new issue #238 asking for the creation of a PyPI package.

[2017-09-17 03:05] felixcheung commented on #172
hi! yes I think as a package on PyPI would be easier. Think we would need some way to download the jar on the fly similar to how Pyspark does it

[2017-09-18 04:43] sandys commented on #172
I would recommend packaging the jar file inside the pypi package. In a lot
of places, package downloads are audited and heavily restricted. Especially
for things like data analysis (which touches sensitive data).

The ideal way to do this is for the build step for the python package to
create a self contained wheel file which also carries the jar.

Also want to mention that this will probably need

[2017-09-18 16:32] thunterdb commented on #238
@brifordwylie this is a great question. My main concern with that approach is that users either may be missing the java part, which leads to confusing java stack traces, or may have a version mismatch between the java part of the library and the pyhton part, which may lead to even more confusing errors. Can you share more about how you currently load graphframes in your Spark environment?

[2017-09-23 08:22] felixcheung commented on #233
fixed by 234

[2017-09-23 08:22] #233 closed

[2017-09-28 18:23] RayTsui opened #239 "missing or invalid dependency detected while loading class file 'Logging.class'."
I use the following code to log in the cluster:
spark-shell --master yarn --jars graphframes-0.5.0-spark2.1-s_2.11.jar scala-logging-slf4j_2.10-2.1.2.jar scala-logging-api_2.10-2.1.2.jar

and run the follow spark code:

import org.apache.spark.SparkContext
import org.apache.spark.sql.SparkSession
import org.graphframes._

val ss = SparkSession.builder().appName("ECommerce Fraud Detection by Graph"

[2017-09-29 05:38] felixcheung commented on #239
see #113 ?

[2017-09-29 16:10] RayTsui commented on #239
Actually, as you see from above code, I did it as described in #113. But I suppose there still exists some inappropriate and problems or what I have done may be wrong, I use
spark-shell --master yarn --jars graphframes-0.5.0-spark2.1-s_2.11.jar scala-logging-slf4j_2.10-2.1.2.jar scala-logging-api_2.10-2.1.2.jar
to import the necessary jars and to execute my spark code.

If you can find some wrong

[2017-09-29 16:25] felixcheung commented on #239
What Scala version are you running with?

[2017-10-03 11:49] Jiri-Kremser commented on #232
I have also an example of very small graph on which pagerank execution creates thousands of stages in spark and never stops (or fails with OOM or similar exception)

https://github.com/Jiri-Kremser/bitcoin-insights/blob/master/notebook/graphframes.ipynb
when using GraphX, I can't see the issue, I'll try also the graphframes@0.4.0

[2017-10-09 20:35] oliveratutexas commented on #201
Any update on this? I'm running into the same problem.

[2017-10-14 00:45] RayTsui opened #240 "java.lang.UnsupportedClassVersionError: com/typesafe/scalalogging/Logger : Unsupported major.minor version 52.0"
When I execute the spark-shell in cluster and I input
val graphframes = GraphFrame.fromEdges(edges)
it gives me as follows:
java.lang.UnsupportedClassVersionError: com/typesafe/scalalogging/Logger : Unsupported major.minor version 52.0
at java.lang.ClassLoader.defineClass1(Native Method)
at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
at java.security.SecureClassLoader.defineClass(Secur

[2017-10-16 03:12] felixcheung commented on #240
it was suggested this can result from an older version of java - which version are you running with?

[2017-10-16 16:21] RayTsui commented on #240
The java version on cluster is
java version "1.7.0_60-ea"
Java(TM) SE Runtime Environment (build 1.7.0_60-ea-b15)
Java HotSpot(TM) 64-Bit Server VM (build 24.60-b09, mixed mode)

Is something wrong?

[2017-10-16 18:46] m316257 opened #241 "Constructing Graphframe from Dataframes - 'id', 'src' and 'dst' column name requirements - allow user defined column names"
When I construct a Graphframe from a vertex Dataframe and an edge Dataframe, the vertex Dataframe needs a column called 'id' that contains the ids for the vertices and the edge Dataframe has a similar requirement for the 'src' and 'dst' columns.

If my API call naturally returns a Dataframe where the column containing vertex ids has a different name, for example [here](https://gchq.github.io/gaffe

[2017-10-16 21:34] #239 closed

[2017-10-16 21:35] RayTsui commented on #239
Actually, the exception has become #240.

[2017-10-16 23:14] candronikos opened #242 "BUILD ERROR: Argument list too long"
Attempted a build today
[code]

How can I resolve this issue?

[2017-10-18 10:47] artem-aliev commented on #231
TinkerPop also fix this problem: https://issues.apache.org/jira/browse/TINKERPOP-1783
Close the issue.

[2017-10-18 10:47] #231 closed

[2017-10-18 21:44] RayTsui commented on #113
Hi guys,

I repeated your instructions to overcome the posted errors using commands as follows:
"spark-shell --master yarn --jars graphframes-0.5.0-spark2.1-s_2.11.jar scala-logging-slf4j_2.10-2.1.2.jar scala-logging-api_2.10-2.1.2.jar"

And then I execute the example graphframe code
"import org.graphframes._
// Create a Vertex DataFrame with unique ID column "id"
val v = sqlContext.createDataFram

[2017-10-19 06:21] felixcheung commented on #241
This is a good point, I think it'd better if the column is configurable.
Although, renaming a column in Spark should be really light-weighted?

[2017-10-20 17:24] felixcheung commented on #240
could you check your classpath and scala version?
perhaps com/typesafe/scalalogging/Logger  is there and not working with your java version?

[2017-10-20 17:25] felixcheung commented on #242
have you tried running `build/sbt assembly`?
also, are you running in `bash` shell?

[2017-10-22 22:32] candronikos commented on #242
Yes, I have actually. My system is Arch Linux and I have managed to get it to work on my other one with the command: `build/sbt -Dspark.version=2.2.0 -Dscala.version=2.11.8 spDist assembly test` (another Arch system).

But on this one, I get the same result no matter what I try:

[code]

[code]

[2017-10-22 23:04] felixcheung commented on #242
I think the error you see are related to the shell script and the shell. Can you check you are running in bash?

[2017-10-22 23:12] felixcheung commented on #242
Hmm, I see.
Perhaps /usr/bin/env bash is not set?
https://stackoverflow.com/questions/16365130/the-difference-between-usr-bin-env-bash-and-usr-bin-bash

[2017-10-22 23:25] candronikos commented on #242
Thanks for the suggestion, I ran the `env` command to check and I can confirm that `$SHELL` is set for that too.

[code]

[2017-10-23 16:23] felixcheung commented on #242
Hmm
Then I'm not sure and google is failing me...

[2017-10-23 22:09] RayTsui commented on #240
I have requested my colleagues to check the configuration in the cluster, I will post the feedback if the solution is available.

[2017-10-24 20:45] candronikos commented on #242
I ended up copying the jar and python module from my other system. Not sure what went wrong here

[2017-10-24 20:46] felixcheung commented on #242
Oh if that works. Check if you have Windows style line ends - I have seen it does weird things to shell scripts.

[2017-10-24 23:07] candronikos commented on #242
Tested the theory as suggested [here](https://unix.stackexchange.com/questions/79702/how-to-test-whether-a-file-uses-crlf-or-lf-without-modifying-it). It appears the file is definitely a unix-y file.

[code]

[2017-10-30 01:21] mobiusinversion commented on #69
@treena123 very useful thank you, and thank you for fixing the annoying lack of documentation 👍

[2017-10-31 05:18] felixcheung commented on #69
hmm, how is this created? is this something we could add to the project so it gets to be rebuilt for each release?

[2017-10-31 17:53] treena123 commented on #69
As I mentioned earlier, I needed to implement graphframe using java for one of my projects. So, I took a reference of python ,scala based graphframe documentaion and created this document.Yeah, you can add it to the project.

[2017-11-14 12:24] hrxu01 opened #243 "connectedComponents returns lost id info"
i used graphframes:graphframes:0.5.0-spark2.1-s_2.11 with spark2.2, g.connectedComponents returns id always equals component.
![image](https://user-images.githubusercontent.com/9206411/32779745-83985140-c904-11e7-8f33-01daea18cfaa.png)

[2017-11-14 13:00] #243 closed

[2017-11-20 19:16] ruchikanayyar commented on #238
Hello

Any update on this issue ?

[2017-11-22 10:58] Gmousse commented on #201
Hi, same problem here when using ConnectedComponents:

[code]

[2017-11-23 13:17] Gmousse commented on #201
After some tests, the checkpoint fail only to write on local file system (but doesn't throw errors).

Then when the ConnectedComponents try to reload the checkpoints, the checkpoint parquet is empty (without schema) and fails to load.

This issue doesn't occur when using google storage or s3 to write the checkpoint.

[2017-11-23 18:54] felixcheung commented on #201
yes, this seems to be the case when the checkpoint results in an empty file.
In you case, do you know why it fails only for local file system? can you tell us more about the environment you are running this in?

[2017-11-23 19:13] Gmousse commented on #201
I don't know why checkpointing is failing on local system. I m on a debian 8 instance (on google compute engine environment) with spark 2.1. I think it's environment related and m 90% sure that it's not related to your library.

The only improvement to do could be to throw warnings (or handle the error) if the checkpoint can't be written (or loaded) and if the dataframe wasn't empty.  Like that, e

[2017-11-29 07:33] akshayagarwalgithub opened #244 "Graphframes stability and maturity to be used for implementation of a project in production"
Seeking an answer with insights into graphframe's algorithms optimized for performance and scalability as required for actual production deployment of a project, when compared with other Graph systems available in market.
Thanks.

[2017-11-29 20:23] geoHeil opened #246 "Failed to parse bad motif string"
How can I Implement something like neo4j's: `(a)-[e*..3]-(b)` with graphFrames?

- `(a)-[e]->(b); (b)-[e2]->(a)` will represent an undirected edge but  forces that there are actually vertices in both directions. Can I integrate an OR not just a AND into the Motif?

- `[e*..3]` will match 0,1,2,3 edges - would I need to use aggregate messages or iteratively looping over the possible values and `UNI

[2017-11-30 10:08] felixcheung commented on #246
`(a)-[e]->(b); (b)-[e2]->(a)` is not undirected edge - it's actually vertices with 2 directed edges. If I recall, we don't really support undirected edges in GF. As for OR, I think you would need to `find()` twice and `unionAll` them.

it doesn't quite to it out of the box, there's a mention of match variable length at the end of this section http://graphframes.github.io/user-guide.html#motif-find

[2017-11-30 10:19] geoHeil commented on #246
Thanks for clarifying.

[2017-11-30 10:19] #246 closed

[2017-12-01 08:20] thucnt opened #248 "Problem with large graph"
I use graph frame to process a graph with 10k nodes and 32k edges. It can load the graph but when I run algorithms it raise exception like this:
Exception in thread "main" java.lang.StackOverflowError
	at java.io.ObjectOutputStream$BlockDataOutputStream.write(ObjectOutputStream.java:1841)

Please help me to solve this problems! Thank you very much.

[2017-12-06 14:19] cgosse commented on #238
I've rolled a simple setup.py file to allow this sort of install. Perhaps there could be a check that the $SPARK_HOME points at a compatible version at runtime?

[2017-12-06 22:04] ruchikanayyar commented on #238
And where is this script, I would like to give it a shot.
-Ruchika

[2017-12-07 07:38] akshayagarwalgithub commented on #150
Hi @felixcheung, @thunterdb
                           I am using motif finding for my project, but seeing lot of shuffling happening for the simple chain I have built including some filter operation on vertex and edges. Is there any documentation or if you can throw some light on how the motif finding internally works doing graph traversal, that it is leading to so many shuffles.

[2017-12-07 19:56] cgosse commented on #238
`from setuptools import setup

setup(name='graphframes',
      version='0.5.10',
      packages=['graphframes', 'graphframes.lib']
)
`

[2017-12-08 06:25] felixcheung commented on #150
@akshayagarwalgithub actually this is somewhat to be expected as you can see, motif finding is implemented as a sequence of joins: https://github.com/graphframes/graphframes/blob/master/src/main/scala/org/graphframes/GraphFrame.scala#L816

I think that it would be good to add some doc on how it works and best practices - all those with joining would apply here.

[2017-12-08 06:31] felixcheung commented on #238
cool - I think we should incorporate this, would anyone be interested in opening a PR?
also,

that sounds to be separated from the setup or packages. is this version of graphframes or version of spark?

[2017-12-10 21:48] akshayagarwalgithub opened #249 "Is Graphframe suitable for real time query engine?"
Is graphframe a suitable technology which can be used for:
1. Fast sql queries on graph?
2. For real time query, say for fraud detection. Example if a new person(buyer) signs up, and we have an existing graph of buyers. Then the requirement is to add this new buyer as node to the existing graph and in real time check his relationships with fraud buyers already present in the graph and take the dec

[2017-12-11 17:59] thunterdb commented on #249
The answer depends largely on how you qualify 'fast' or 'right away'.

1. GraphFrames uses Spark's SQL engine for queries, with all the scalability and performance benefits that come along.

2. Capital One is known to use GraphFrames in a similar setting, see these slides:
https://www.slideshare.net/JenAman/credit-fraud-prevention-with-spark-and-graph-analysis

[2017-12-11 18:24] akshayagarwalgithub commented on #249
Thank you Timothy for sharing this.  I checked this design and here as well I see Visallo(the Graph database) clubbed with Spark Graph.That is where I am thinking would Spark Graphframe alone be sufficient for fast graph queries with latency just in few seconds? My Graph usecase requires following:
1. Have team members query the graph and retrieve the results for queries in seconds.
2. Future need

[2017-12-12 06:57] bibhushankar opened #250 "error while connecting cassandra and spark 2.0.2"
`I have spark 2.0.2.bin hadoop 2.7 and  Scala version 2.11.8 (Java HotSpot(TM) 64-Bit Server VM, Java 1.8.0_131)`

    <pre>when I am trying to connect and read cassandra table from spark shell using below commands getting error.</pre>

    <pre>spark-shell --conf spark.cassandra.connection.host=<serverIP> --packages datastax:spark-cassandra-connector:2.0.3-s_2.11
import com.datastax.spark.connect

[2017-12-12 12:10] felixcheung commented on #250
Sorry this doesn’t seem to be related to the graph frames project. Maybe you can follow up with the Cassandra connector project.

[2017-12-19 16:10] GreGGus opened #251 "Get Subgraph from specific node ? (New in graph)"
Hey,
I'm building an simple Graph with GraphFrames on Scala 2.11 Spark 2.2.

I can create my graph without problems, but i have no idea how create a subgraph from input user.

I want to extract graph from the big one, like :

Get subgraph from node#123 with 3 max depth parents.

I tried connectedComponent, ( see https://graphframes.github.io/user-guide.html ) but I have no idea what to do with "co

[2017-12-19 18:51] paulsonnentag commented on #251
If you want to get the subgraph of depth 3 starting from a specific node I would calculate the distance of each node to your starting node and filter for nodes which have a distance of <= 3. You can use [message passing](https://graphframes.github.io/user-guide.html#message-passing-via-aggregatemessages) to implement such an algorithm. Alternatively you could fallback to GraphX which has already a

[2018-01-05 23:16] akshayagarwalgithub commented on #162
Hi @felixcheung. Can you please provide the purpose of checkpointing as required by connected components algorithms in Graphframes.
Looking forward to your response.

[2018-01-05 23:44] felixcheung commented on #162
Do you what connected components is doing checkpointing in this implementation?

It is done to simplify the execution.
Whenever checkpointing is done any subsequent execution only needs to start from the checkpoint.

[2018-01-07 02:57] akshayagarwalgithub opened #252 "Update of Graph with new nodes and edges"
How do we update a graph using Graphframe when new nodes and edges are added to it. When the new nodes and edges are added to the node and edge dataframes does the Graph needs to be build again or is there a way to optimize the update of graph using graphframes? I am looking for an efficient way of doing it.

[2018-01-11 10:01] artem-aliev commented on #252
Graph frame itself has no update methods. It is for querying only.
It is a lightweight object (except cached vertex ids). It just references two DataFrames.
So if you add nodes and edges to underlying DataSource (say Database) they will be available for GF queries. But if you use Graph Algorithms (GraphX), vertex ids will be cached, and GrpahX will cache data frame also and you will not see your u

[2018-01-13 06:40] felixcheung commented on #252
correct... you could union the new edge DF to the existing and new vertex DF to the existing, and then pass the results to make a new GraphFrame; and then perform your graph operations again

[2018-01-15 20:12] cj2001 opened #253 "java.lang.ClassCastException on shortestPaths calculation"
I have a graph, g, which is roughly 4.5M vertices and 43M edges as:

`scala> g
res10: org.graphframes.GraphFrame = GraphFrame(v:[id: int], e:[src: int, dst: int])`

I would like to calculate the shortest path between two given vertices, so I have run

`val shortest_path = g.shortestPaths.landmarks(Seq("1","2")).run()`.

based on the documentation provided [here](http://go.databricks.com/hubfs/note

[2018-01-16 07:32] felixcheung commented on #253
It's been a while but I recall some issue with shortestpath (do not recall what exactly... would be good if anyone would like to help fix)

I was able to workaround with id etc casted to string
[code]

[2018-01-16 16:51] cj2001 commented on #253
This appears to have worked.  Thank you!  (I leave it up to you whether you want to keep this issue open as a reminder to look into that error or not.)

[2018-01-16 18:14] akshayagarwalgithub commented on #252
@felixcheung @artem-aliev  I have a question - So when I do union and create another dataframe, it will be an entirely new one. So when I run some algorithms on this new updated graphframe then would the computation be initiated from start(from time perspective)? I mean wouldn't Spark be re computing the Graph frame since the updated dataframes are entirely new dataframes(due to immutable feature

[2018-01-16 22:24] purohitsumit opened #254 "Finding Edge without a loop OR triangle"
Hi All,
I am trying to find all the occurrences of edges which are not part of any loop OR triangle.
I used the motif expression as "(a)-[]->(b); !(b)-[]->(c); !(c)-[]->(a); !(b)-[]->(a)"
But i get Following Exception:
**Exception in thread "main" org.apache.spark.sql.AnalysisException: Except can only be performed on tables with the same number of columns, but the first table has 2 columns and th

[2018-01-17 07:57] felixcheung commented on #254
Hmm, this is odd. What is your dataset? it looks like perhaps a tuple as column? Would it be possible to have a smaller set of code to reproduce this problem?

[2018-01-17 07:58] felixcheung commented on #252
that is true, computationally it will not be incremental - it will be rebuild from scratch.

[2018-01-17 19:37] purohitsumit commented on #254
Hi @felixcheung ,

I have created a gist with core code ,and the data.
https://gist.github.com/purohitsumit/a820a1a3af2f00347bb6343dc1fe31da

What do you mean by "looks like perhaps a tuple as column" ?

[2018-01-17 21:14] akshayagarwalgithub commented on #252
@felixcheung @artem-aliev  Two questions here:
1. Would'nt this be a very big challenge, where a Big graph with billions of vertices and edges has to be recomputed again every day for computation when a small incremental data load happens to the nodes and edges dataframe?
2. If the node or edge dataframe is pointing to a table in an external database by JDBC connection, and say there is an update

[2018-01-17 23:46] akshayagarwalgithub opened #255 "Documentation for algorithms internal functioning"
Hi Team. It would be nice if we can have some sort of documentation on how Spark Graphframes algorithms internally works. Including the details of optimizations already done for efficient traversal of graphs when running the available algorithms..

[2018-01-19 01:50] wuliu1516 opened #256 "No module named 'graphframes.lib'"
pyspark --packages graphframes:graphframes:0.5.0-spark2.1-s_2.11

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.2.1
      /_/

Using Python version 3.5.4 (default, Nov 20 2017 18:44:38)
SparkSession available as 'spark'.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No

[2018-01-19 18:27] akshayagarwalgithub opened #257 "Graphframes for nodes dataframe with different schemas"
@felixcheung  @ankurdave @mateiz  Does Graphframe supports loading the nodes dataframe which points to different files with different schema details(meaning id column being there in all the nodes files but the other columns being different as for the different types of nodes which are a part of the graph).
I know this brings down the question to dataframes, but would like to know if this is suppor

[2018-01-19 20:37] akshayagarwalgithub commented on #252
@felixcheung @ankurdave Looking forward to your response on this.

[2018-01-22 07:15] purohitsumit commented on #254
I even used the graph in user-guide. I get the same error.
    // Vertex DataFrame
val v = sqlContext.createDataFrame(List(
  ("a", "Alice", 34),
  ("b", "Bob", 36),
  ("c", "Charlie", 30),
  ("d", "David", 29),
  ("e", "Esther", 32),
  ("f", "Fanny", 36),
  ("g", "Gabby", 60)
)).toDF("id", "name", "age")
// Edge DataFrame
val e = sqlContext.createDataFrame(List(
  ("a", "b", "friend"),
  ("b", "c

[2018-01-24 11:52] etherruzo commented on #254
I'm having the same error. Is there any limit in the depth of cases we can put inside the .find ?? It's giving an error when there are more than 6.

This is working:
val a: DataFrame = g.find("(a)-[]->(b);(b)-[]->(c);!(c)-[]->(b);!(b)-[]->(a);!(a)-[]->(c);!(c)-[]->(a)")

This is not working:
val b: DataFrame = g.find("(a)-[]->(b);(b)-[]->(c);!(c)-[]->(b);!(b)-[]->(a);!(a)-[]->(c);!(c)-[]->(a);!(b)

[2018-01-26 18:12] sueann commented on #222
Is master ready for a release compatible with Spark 2.2 or is https://github.com/graphframes/graphframes/issues/235 still an issue?

[2018-01-26 20:08] felixcheung commented on #222
Master is compatible with 2.2 except for PageRank as referenced.

________________________________
From: Sue Ann Hong <notifications@github.com>
Sent: Friday, January 26, 2018 10:12:10 AM
To: graphframes/graphframes
Cc: Felix Cheung; Comment
Subject: Re: [graphframes/graphframes] Spark 2.2 support (#222)

Is master ready for a release compatible with Spark 2.2 or is #235<https://github.com/graphfr

[2018-01-26 20:15] sueann commented on #222
I see. Thanks @felixcheung ! cc @thunterdb

[2018-01-28 13:02] debasishdebs opened #261 "sbt.ResolveException: unresolved dependency while building Graphframes"
Hi all,
I'm new to Spark, Pyspark and all its concepts. As a requirement for out Project, we have defided to go forward with Graphframes in our use case. I started on a naked system and did the following steps:

pip install pyspark==2.1.2 [Install Pyspark & Hence Spark]
SPARK_HOME=/root/anaconda3/envs/Py3.6/lib/python3.6/site-packages/pyspark
wget https://github.com/graphframes/graphframes/archive

[2018-01-28 23:02] felixcheung commented on #261
Is org.slf4j#slf4j-api;1.7.7 there after it is added?
according to build.sbt it should be  "scala-logging-api" % "2.1.2"

[2018-01-29 11:50] jessyZu commented on #63
+1

[2018-01-31 08:12] yun15 commented on #226
Did you solve the question? I have this proble now. I use the GraphX to generate the connected components. And it is taking around 1.5 hours.

[2018-01-31 14:31] sandys commented on #238
@felixcheung @cgosse have you guys managed to fix this ? If you see my comment on the other bug - https://github.com/graphframes/graphframes/issues/172#issuecomment-330128501  - I had to do some complicated copying and moving around files to make it work in pyspark.

1. I have to first hand-build a graphframes python egg. And install it
2. Then I have to get the graphframes jar and drop it in a di

[2018-01-31 20:06] brelloch commented on #226
I haven't look at this in a while but I believe a good portion of the problem was caused by using strings as the ids. I believe the strings are tied to ints within the processing so every time the id is needed it needs to look up the value in a separate object.

I ended up doing a scaled down version that didn't fully converge but was sufficient for our needs.

[2018-02-02 07:52] felixcheung commented on #253
let's see if we can fix this...

[2018-02-02 07:59] felixcheung commented on #257
As you say, this is fundamentally a question for dataframes. You could also join multiple dataframes together. Or have nullable columns. But for GF there are only one edge and one vertice dataframe

[2018-02-05 22:42] luisbelloch commented on #256
Same problem here, trace importing example graphs

[code]

The exact environment I'm using can be reproduced as:

[code]

Container was created using this [Dockerfile](https://github.com/luisbelloch/data_processing_course/blob/2018.1/infra/docker/Dockerfile).

Thanks!

[2018-03-04 07:27] twalk4821 opened #262 "ClassNotFoundException: org.graphframes.GraphFramePythonAPI"
Hi -

I am trying to make use of graphframes in conjunction with the pip pyspark package. My steps are:
1. Built graphframes from source using ./build assembly
2. Dragged the python/graphframes folder to the installed pyspark package
3. Wrote the following code:
[code]

Then I try to create a GraphFrame with `GraphFrame(v, e)`, which is when I get the error.

Any help or possible suggestions for m

[2018-03-05 02:20] YuanEric88 commented on #104
@slavakx  Hi, my system is windows, could you tell me how to install graphframes in windows system computer? Thank you a lot!

[2018-03-09 20:59] astenuz opened #263 "Get actual path from shortestPaths()"
Hi, I would like to know if its possible to make `shortestPaths()` return the actual paths instead of just distances. One way would be to return subgraphs that are basically just a path. Nonetheless, I dont know if its feasible to put a graph inside a dataframe cell. Other approach would be similar to the one bfs returns.

Thanks.

[2018-03-20 08:04] chaoweiwu opened #266 "how to fast the calculation speed of LPA when dealing with billions of node"
Hello, I am dealing with Graph LPA analysis which has billions of vertex and edges, while the process is too slow, and we can not consume too long time at this process.
Many stages in this process, and usually one of them would be too slow at the last task.
eg:
[Stage 517:==================================================>(1999 + 2) / 2000] / 2000]]]

Before I create the graph, I do a re-partition

[2018-03-21 03:33] nchammas commented on #144
@felixcheung @jkbradley - Do we still need this issue?

[2018-03-21 06:33] felixcheung commented on #144
I'm all for more clarity in documentation

[2018-03-22 14:22] illak commented on #263
Hi, i'm using BFS to do that (but using shortestPaths() to get all the paths in one run would be great!). Currently i'm running BFS inside a loop thar iterates on a list of start-vertices like this:

`for(startV <- listOfStartVertices){
     paths = g.bfs.fromExpr(startV).toExpr(target).run
     //Do something with paths...
}`

I modified BFS a little to run faster (it is very slow in comparison w

[2018-04-05 23:53] jexp opened #267 "Spark 2.3.x support?"
When do you expect to release a graphframes package for Spark 2.3.x ?

[2018-04-06 05:44] felixcheung commented on #267
someone contributed the support for it, but I'm not sure what's the process to create a release and publish one

[2018-04-08 00:52] RayTsui opened #268 "GraphFrame.triplets writing to parquet causes "unable to infer schema for parquetformat it must be specified manually""
I conduct big data process using graphframe with the following code:

val val_std_nodes = spark.read.parquet("nodes.parquet")
val val_edges = spark.read.parquet("edges.parquet")
val graphframe = GraphFrame(val_std_nodes, val_edges)
val triplets = graphframe.triplets
triplets.write.mode("overwrite").parquet("triplets.parquet")

when execute the read operation from the above parquet
val val_triplets

[2018-04-10 07:30] happyelma7 commented on #159
@mengxr  in my job, using grphx connectedcomponets() , the result is two vertexs of an edge mapping different graph id in spark 2.1.2,can you help me to solve this question,it happened about one year，please!

[2018-04-12 01:35] marcevrard commented on #267
Would it be possible to write the steps (in the README.md for example) to install graphframes for Spark 2.3.x (or to install from source in general)?
I could find some procedure, e.g, in [#104](https://github.com/graphframes/graphframes/issues/104#issuecomment-243590062), but it doesn't work on my side.

[2018-04-12 04:44] marcevrard commented on #267
I could finally make it work. Initially, I did not exactly follow [#104](https://github.com/graphframes/graphframes/issues/104#issuecomment-243590062). I compiled the jar file using `make 2.3.0` instead of `build/sbt assembly`.

Here is the complete procedure that worked on my infrastructure with Jupyter Notebook:
- [graphframes-master-2018-04-12](https://github.com/graphframes/graphframes/tree/75

[2018-04-13 17:58] deusxmach1na commented on #254
Any progress on this?  I get this error whenever the motif has multiple patterns and an ! (pyspark).
```sub_graph = g.find("(a)-[e]->(b); !(b)-[r]->(c)")```

```Except can only be performed on tables with the same number of columns, but the first table has 3 columns and the second table has 5 columns;```

[2018-04-16 12:53] artem-aliev commented on #256
Looks like sbt-spark-package exclude python lib directories, so  graphframes/lib/ is not included in the published jar.

[2018-04-25 22:14] CrossNox opened #269 "Centrality measures"
Hi! Are there plans to add centrality measures?

[2018-04-30 16:01] kevinykuo opened #270 "Timeline for 0.6 release?"
Wondering when the next release will be available on Maven. Currently, 0.5 only supports up to Spark 2.1 so is blocking for some folks.

[2018-05-01 08:27] amuraru commented on #270
👍

[2018-05-03 23:26] makmanalp commented on #256
Same here! Looks like #209 / #217 fixed this issue but a new release hasn't been made in a whole year. Is this project still being maintained?

[2018-05-04 00:01] makmanalp commented on #256
Luckily dropping in the missing python files in the current directory and modifying code (e.g. `from aggregate_messages import AggregateMessages as AM` instead of `from graphframes.lib import ...`) seems to work okay, but kinda kills the convenience of being able to do `pyspark --packages graphframes:...`.

[2018-05-06 02:26] shafiquejamal commented on #218
@Swalloow Would you please show us exactly what you set `$SPARK_SUBMIT_OPTIONS` to? Thanks.

[2018-05-10 22:17] purohitsumit commented on #270
Same question.
Although i see some commit log mention support for spark 2.3.0

[2018-05-11 03:46] felixcheung commented on #270
yes, the support for Spark 2.3.0 has been added.

[2018-05-11 06:15] jzheng13 opened #272 "Connected components returning components with only one vertex"
I was trying to run the `connectedComponents` function on my graph, but calling `id_component.groupBy('component').count()` showed that there are components with only one vertex mapped to them. Of course, a simple filter and join can sort out this issue but I think it'll be good to eliminate such cases in the first place.

I'm running the 0.5.0 version on Spark 2.2.

Thanks!

[2018-05-12 08:56] purohitsumit commented on #270
Thanks. how is it available on Maven ?

[2018-05-13 04:02] felixcheung commented on #270
unfortunately it is not in a release and not published to maven central, yet.

[2018-05-15 18:27] munro commented on #238
@cgosse I just pushed a fork with your exact code 😂

[code]

[2018-05-18 19:34] MrBago commented on #235
Was this fixed by #236? Can we close it?

[2018-05-19 06:31] felixcheung commented on #235
PR #236 is not merged.

[2018-05-21 13:59] nmurphycb commented on #235
Are there plans to merge it in the future?

[2018-05-21 17:02] #184 closed

[2018-05-21 17:02] jkbradley commented on #184
All done!

[2018-05-22 05:28] felixcheung commented on #235
I think there are some discussions/concerns on that PR.

[2018-05-22 12:51] gerlandvl commented on #248
I have the same issue, when trying to run BFS on large graphs. Max path size is set to low value and process does not consume too much memory.

[2018-05-23 05:27] felixcheung commented on #248
perhaps check shuffle read/write size on the Spark UI - the error might seem like related to shuffle block

[2018-05-23 05:35] felixcheung commented on #254
I'll try to reproduce it and debug within the next few days.
sorry, I have been completely swamped with work - perhaps someone else has time to investigate it too.

[2018-05-23 13:45] rberenguel commented on #272
@jzheng13 a lone vertex is part of its own connected component. It's clear in the [equivalence relation definition in Wikipedia](https://en.wikipedia.org/wiki/Connected_component_(graph_theory)#An_equivalence_relation), but not so clear in the initial text blurb.

[2018-05-23 17:06] strongcoder commented on #254
Thank you @felixcheung  for responding.
Desparately looking forward to a quick resolution for this, as required by our business to build the pattern to search in graph.

[2018-05-24 14:08] gerlandvl commented on #248
Thank you for the quick response. It was a problem with spark version.

[2018-05-26 08:15] Bykow commented on #235
I need to compute a personalized pagerank, it is ok to use version 2.1 ? Is there any risks/side effects I could encounter ?

[2018-05-28 14:38] 0xh3x commented on #270
@felixcheung Any update on this?

[2018-06-05 20:08] sui414 commented on #148
@felixcheung it would be really helpful if it could have weighted edge version as it would be universally applicable to all DAG network analysis

[2018-06-08 19:49] jkbradley commented on #254
This looks like an outright bug, probably introduced by Spark's Dataset.except method changing semantics.  I'm looking into it.  (Sorry it took a long time for me to see this!)

[2018-06-08 20:05] felixcheung commented on #148
sorry - I completely had to drop because of work. Hopefully we could get back on this...

[2018-06-11 21:50] jkbradley commented on #254
The bug is in handling of negated edges: It fails for cases in which a named vertex or edge appears in negated terms but not in non-negated terms.

*Workaround*: @purohitsumit  You can work around this bug by handling negation explicitly:
E.g., your query above `"(a)-[]->(b); !(b)-[]->(c); !(c)-[]->(a); !(b)-[]->(a)"` can be re-expressed as:
[code]
Note the code above assumes vertices do not have

[2018-06-12 18:52] williamSoul opened #275 "Graphframe error with PageRank"
Please, I need your help with the following problem.
I tried to test Pagerank in graphframe with a simple example as follows:

[code]
Unfortunately, I got this error:

[code]

I will be appreciated if you could help me with this problem.

More Info: I am working on Spark 2.2.0 with Zeppelin, Scala version 2.11.8, master: Yarn, deploy-mode: client  , graphframe 0.5.0
My platform contains 4 nodes wi

[2018-06-13 04:49] felixcheung commented on #272
I haven't check, but I seems to recall a single vertex is also a "connected component" in the current implementation.

[2018-06-13 19:01] jkbradley opened #276 "Remove negation from motif finding DSL"
This proposal comes from thinking about https://github.com/graphframes/graphframes/issues/254

I recommend we remove negation from our DSL because:
* Its semantics are very unclear and prone to cause user confusion.
* Our DSL is loosely based on Cypher QL, which does not support negation.
* Users can handle negation on their own by combining results from multiple queries.

This is a breaking API c

[2018-06-13 22:51] akkicoder commented on #254
Hi @jkbradley  @felixcheung  if time permits and if possible can this be fixed instead of a workaround.
Also I would like to know if this workaround works in all cases.
I have a usecase where I have a relationship graph of people connected based on attributes.
Graph details:
Vertices - People and attributes such as email, address etc.
Edges - Always starting from person and ending in the attribute

[2018-06-14 05:55] felixcheung commented on #254
@akkicoder can you check #276 and add your feedback

[2018-06-14 06:30] felixcheung commented on #276
my worry about removing this is also people seem to be using `!` pattern quite a bit. In the issue # 254 there are at least 3-4 distinct users using this (and running into the issue)

[2018-06-14 17:18] jkbradley commented on #276
Oh whoops!  I looked but missed this reference.  I also tried it out in their sandbox, and it seemed like it did not work.  I'll explore it more to see how/if they make the semantics clear.

[2018-06-14 18:45] jkbradley commented on #276
OK testing it manually, I've found:
* Negated (NOT) edges are allowed in WHERE statements
* All named vertex and edge elements in negated edges must appear in non-negated edges in the original MATCH statement
* Negated edges can have anonymous vertex and edge elements.
* If a negated edge an 0 named elements, then 0 edges are returned.  This means that the WHERE clause is interpreted as an AND.  E

[2018-06-15 23:52] akkicoder commented on #254
Hi @jkbradley @felixcheung @thunterdb @mengxr @phi-dbq  I have 2 conceptual questions on the right way of using Motif finding

As described for my usecase the attributes are also vertex, with a property called vertex_type like email for email attribute vertex. Now my edges going from person vertex to the attribute vertex like email also have a label called hasEmail. I have following two questions:

[2018-06-18 18:59] akkicoder commented on #254
Hi @jkbradley  @felixcheung  @thunterdb  @mengxr @phi-dbq
Your timely response to my above question would be highly appreciated.

[2018-06-19 23:12] akkicoder commented on #254
Hi @jkbradley @felixcheung @thunterdb @mengxr @phi-dbq
Can you please provide the required detail. As it is a fundamental question, I hope it should not take very long to provide the response. Your response would be highly appreciated.

[2018-06-26 17:50] dmvieira commented on #235
news?

[2018-06-26 19:44] jkbradley commented on #276
UPDATE: Per our offline discussion, I updated [the doc](https://docs.google.com/document/d/1e7HUdsTe7jNBjxYt2WflR0Pb5l3I9StjFplUitph6AE/edit#).  Here is the gist:

## Proposed rules for motifs

The API guarantees to find all examples of named elements matching each term in the motif.
* A key implication here is that named vertices which only appear in negated terms will trigger outer joins.

Each

[2018-06-27 18:13] jklukas commented on #172
Here's a workaround that seems to get the right paths for `--packages` entries available to an EMR pyspark session:

[code]

[2018-06-29 02:16] myDemoMike opened #281 "Exception in thread "main" java.lang.NoClassDefFoundError: org/graphframes/GraphFrame"
the question is that this class I have found in my item ，and my item is  Scala programming

[2018-06-29 05:28] myDemoMike commented on #281
Exception in thread "main" java.lang.NoClassDefFoundError: org/graphframes/GraphFrame$
        at com.test.graphx.tools.GraphBuilderImp.toGraphFrame(GraphBuilderImp.scala:139)
        at com.test.graphx.build.BuildGraph$.bkhGraphFrame$lzycompute$1(BuildGraph.scala:59)
        at com.test.graphx.build.BuildGraph$.bkhGraphFrame$1(BuildGraph.scala:59)
        at com.test.graphx.build.BuildGraph$.main

[2018-07-03 04:48] SidWeng commented on #267
Spark 2.3.x support build steps:
  step 1. Make sure to use Java 8 or whatever version you want but not Java 10. You can set JAVA_HOME to /Library/Java/JavaVirtualMachines/jdk1.8.0_172.jdk/Contents/Home
  step 2. make 2.3.0

Note:
    use Java 10 will fail(object java.lang.Object in compiler mirror not found), use use Java 8 instead(I use 1.8.0_172).

[2018-07-03 05:50] kant111 commented on #267
@SidWeng  how to make 2.3.0?

[2018-07-03 06:10] SidWeng commented on #267
just run `make 2.3.0` under the graphFrames directory

[2018-07-03 19:12] siddhantsahu commented on #218
@shafiquejamal `export SPARK_SUBMIT_OPTIONS="--packages graphframes:graphframes:0.5.0-spark2.1-s_2.11"`

[2018-07-04 18:15] sandys commented on #267
We are also looking for this. Is there a timeline for official spark 2.3 support in pyspark ? Where we don't have to build this?

[2018-07-05 09:56] jwgwalton opened #282 "Shortest Path Algorithm not returning distances."
I am trying to use the shortest path algorithm and it's only returning distances for the landmarks to themselves.

v = sqlContext.createDataFrame([
  ("CH1", "CH"),
  ("CH2", "CH"),
  ("VAT1", "VAT"),
  ("VAT2", "VAT"),
  ("PAYE1", "PAYE"),
  ("PAYE2", "PAYE"),
], ["id", "type"])

e = sqlContext.createDataFrame([
  ("CH1", "VAT1", "0.8"),
  ("CH1", "VAT2", "0.9"),
  ("CH2", "VAT2", "0.91"),
  ("VA

[2018-07-05 11:30] #282 closed

[2018-07-05 20:39] mengxr opened #283 "Provide a method to check graph consistency"
We do not always check if vertice IDs in edges exist in vertices due to performance concerns. It would be nice to add those checks and provide a utility method to add those additional vertices to edges to fix graph consistency, or drop those edges. This could be done in two PRs: 1) check consistency, 2) fix consistency.

cc: @felixcheung @jkbradley @MrBago @bohanjason

[2018-07-06 04:18] rekhajoshm commented on #281
Hi @myDemoMike The NoClassDefFoundError originates from SparkSubmit when it fails to load your  class. Is your graphframes jar present in the path at runtime? If not, you can download the relevant graphframes jar from https://spark-packages.org/package/graphframes/graphframes and use --jars to upload it as a dependency on your cluster.

[2018-07-10 00:46] kevinykuo commented on #267
What would it take to get an updated release on maven central? @jkbradley @felixcheung

[2018-07-12 09:37] eoinlane commented on #267
I am have issues trying to build this for Spark 2.3 per the instruction above. Is the a timeline for an official spark 2.3 support in scala?

[2018-07-16 06:17] jzheng13 commented on #272
I just cannot really imagine a situation where it's useful to return a lone vertex, especially if that lone vertex is itself part of a "larger" connected component. It just seems like a waste of memory. But I'm cool with it.

[2018-07-18 11:53] lblanche commented on #185
Anyone worked on this ?

[2018-07-23 22:16] amyhodler opened #285 "feat: add tests for PageRank with disconnected components"
When running PageRank on graphframe using PySpark the disconnected components in a graph are skipped. When running via Scala it works perfectly.

./spark-2.3.1-bin-hadoop2.7/bin/pyspark   --packages graphframes:graphframes:0.5.0-spark2.1-s_2.11

[2018-07-25 06:59] felixcheung commented on #285
do you have an example? Python version should work the same as scala version...

[2018-07-26 13:51] mneedham commented on #285
Hi,

(I'm working with Amy on this so I'll share what we've been doing)

Weirdly the example is working fine now after restarting pyspark but I have another weird example (which also works fine on a fresh pyspark).

So I load the graph like this:

[code]

And then I ask to find the shortest path to Gouda:

[code]

Could there be some caching going on that I'm not spotting?

[2018-07-27 11:58] ghost opened #286 "methods equivalent to NetworkX"
I am aware graphframe is still under development. Thank you contributors. Checking if I am correct, graphframes (in python) does not have as compatible functions or methods as like in networkX? For an instance centrality measures? I apologize if I am wrong.

[2018-07-28 12:08] dataneupane commented on #269
@lewisc any update on this?

[2018-07-29 16:52] gac55 commented on #185
Unfortunately not @lblanche. I concluded the algorithm wouldn't be sufficiently performant for my use case. Shortest path queries are still faster single core a lot of the time

[2018-07-30 19:47] lewisc commented on #269
I am available to make an evaluation on how much effort this would take tomorrow, I got caught up with other projects. I will make a post by 6 pm EST tomorrow on what I can get done.

[2018-07-30 20:06] CrossNox commented on #269
Let me know if there's anything I can help with

[2018-07-31 22:28] mneedham opened #288 "AggregateMessages - Managed memory leak detected"
Hi,

I've been trying to translate an example of weighted shortest path in Scala from the GraphX in Action book (https://stackoverflow.com/questions/40224182/graphx-weighted-shortest-path-implementation-java-lang-nosuchmethoderror) into Python and have got this function which I think is equivalent:

[code]

I construct a graph like this:

[code]

where the CSV files mentioned are here - https://gi

[2018-08-01 07:11] felixcheung commented on #285
not caching? it's saying your graph has a vertex id that doesn't exist in your vertices
`org.graphframes.NoSuchVertexException: GraphFrame algorithm given vertex ID which does not exist in Graph. Vertex ID Gouda not contained in GraphFrame(v:[id: string, latitude: string ... 1 more field], e:[src: string, dst: string ... 2 more fields])
`

[2018-08-01 07:13] felixcheung commented on #286
no centrality measures yet...

[2018-08-01 09:10] harryyy213 commented on #252
1. If you are using Apache spark with HDFS for data storage, one thing you need to understand is HDFS is not a native graph database like Neo4j so it can't store a graph, what it stores is information of vertices and edges as data tables. Apache spark just provides a Graph API using which graph can be build from the vertices and edges table stored in HDFS. Said that, what it means is, a graph as s

[2018-08-01 09:26] harryyy213 commented on #263
If your data model has a fixed schema or structure which is in most of the cases one other way than using BFS would be to use Shortest with with Motif Search algorithm.

Shortest path would give an output as: id(source node), key(target node) and distance(hop length). Motif search can use this information and find the path between source node and target node, given the pattern between them is spec

[2018-08-01 09:35] harryyy213 commented on #249
Real time implementation using graphframes would be challenging or so to speak practically not possible. One of the big reason being updating graph in graphframes would require re-construction of graph entirely and then rerunning the algorithms to get the desire result. This would defeat the idea of real time with a latency of few  minutes or more depending upon the size of the data.

Also graphfr

[2018-08-02 06:08] felixcheung commented on #249
I'd add it depends largely on how big the running state is as the graph is built.

Some form of query or pattern matching is possible:
http://graphframes.github.io/user-guide.html#motif-finding
and it is powered by the SparkSQL engine.

[2018-08-02 10:06] shongscience commented on #267
I think all spark 2.1,2.2,2.3 can work well with the old (but, latest) build   spark:spark.jars.packages=graphframes:graphframes:0.5.0-spark2.1-s_2.11

I have cross-checked the outputs from graphframes with `igraph`. And, at least, in my calculations, the old 0.5 graphframe works properly with spark 2.1 and 2.3.

[2018-08-02 15:32] kant111 commented on #267
what is `igraph`? incremental graph? is there some info on this feature?

[2018-08-02 22:18] akkicoder opened #289 "Component id assigned by connected component"
In graphframes, on what basis does the connected component algorith assign the component id?
Assumed that it would assign incremental component id, but observed the component ids assigned to my data being 10 digits long also, when the number of records in vertices is just around 1 million for vertices and 1.5 million for edges.
Please throw some light on the logic which this algorithm uses to assi

[2018-08-02 22:40] shongscience commented on #267
@kant111 about `igraph`, check this  http://igraph.org

[2018-08-03 21:13] mneedham commented on #285
It is. I restarted pyspark and ran the code for that one again and it worked...

[2018-08-05 20:45] rberenguel commented on #272
@jzheng13 I don't follow your comment: if a vertex is part of a larger connected component, the algorithm will return it as part of the full component. If the lone vertex is part of its own connected component, it will just return it as part of itself as a component

[2018-08-07 01:03] kant111 commented on #267
@shongscience Thanks. Looks good! But I am wondering if the goal is to integrate `igraph` with `graphframes`?

[2018-08-07 15:26] strycker commented on #146
@michaelqiu94 , can you provide any details on what scala logging libraries / versions you were using that were causing this error?  I am running into the same bug myself, but I cannot seem to track down which libraries are incompatible

[2018-08-10 17:10] akkicoder opened #290 "Connected component failing on data. Need details"
Hi @felixcheung @mateiz @ankurdave @mengxr
I used connected component for my data with .5 million vertices and .9 million edges.. But when my number of vertices and edges doubled, my job started failing.
I have two questions:
1. Does the data type of id column in vertices(hence in src and dst in edges) effect the performance? Meaning does a string data type of id column, have any impact on the per

[2018-08-11 18:48] mimiyan commented on #288
My code at https://gist.github.com/mimiyan/031f3c25455792d92a01f83ac415a94f  also lead to
"managed memory leak detected" when aggregateMessages is used.

I found out when the edges or vertices  have empty partitions,  aggregateMessages will lead to
[code]
My graph has only 7 nodes and 8 edges.    With `spark.sql.shuffle.partitions` set to 8,  there is empty vertices partition and I see `managed me

[2018-08-16 01:48] jzheng13 commented on #272
@rberenguel My apologies. I realised that I didn't filter out my vertex list before including it in the graph, and that's why it's returning lone vertices. I assumed (wrongly) that it was returning lone vertices even though they should technically all be part of at least a 2-vertex component. I thought if it's not part of the distance matrix (the edges) it wouldn't be included at all, but I guess

[2018-08-23 03:38] felixcheung commented on #235
awesome

[2018-08-27 22:59] akkicoder commented on #290
Hi Team @felixcheung @mateiz @ankurdave @mengxr , I haven't received any response for my previous question.
Can you please provide the required detail at the earliest.
Thanks.

[2018-09-05 02:56] suesunss opened #298 "duplicate edges generated after running pagerank"
Hello,

I'am trying to run pagerank with my dataset, saying:

[code]

It turns out that ```res1 == res3```, but ```res2``` has a large difference with ```res4```, whereas ```res2 == res5```.

Could someone give some hints? It seems that, at DataFrame level, duplicate edges have been generated during the process of running pagerank.

Thanks!

[2018-09-09 23:29] VeLKerr commented on #104
I did it in 3 following steps:

1) Built GF from the sources (as @leoneu adviced)
2) Started the Jupyter instance using the following command:
[code]
3) In the notebook I appended the jar file to the SparkContext:
[code]

[2018-09-10 10:41] maziyarpanahi opened #299 "Feature request: Louvain algorithm"
Hi,

This is a feature request. I have found an old version of distributed Louvain algorithm implemented by using GraphX, and I was wondering if it is possible to have this algorithm next to LPA as community detection in GraphFrames.

GraphX implementation: https://github.com/Sotera/spark-distributed-louvain-modularity

Many thanks,

[2018-09-14 06:00] rickyhai11 commented on #248
Dear all,
I am currently working on the same problem with large graph up to 20k nodes and 50k edges.  Graphframe is a ideal solution for this kind of problem ? Did you guys solve issues with large graph using graphframe? if yes, please share your solution. Thank you guys

[2018-09-14 06:10] rickyhai11 commented on #224
Dear buddy,
Did you mange to figure out the solution?
I am working on the same problem and wondering if Graphframe is an ideal framework for large graph?
Also it seems to me that GraphFrame contributors they are not really active to help on existing issues.
Thank Buddy,

[2018-09-14 07:47] rickyhai11 commented on #69
Dear Folks,

Is there any existing GraphFrame user guide document for Java developer ?
I am looking for an official document. Please let me know if this issue has been solved. Thanks

[2018-09-14 07:55] tantalus1984 commented on #224
Hi Ricky,

I changed my implementation and got it work for some 100GB. It was not easy though to find a solution that works for our use case.

Thanks

[2018-09-14 07:57] rickyhai11 commented on #224
Thanks for your response. Could you please explain your solution in more detail ? and what's your use case if possible ?

[2018-09-15 10:36] suesunss commented on #298
closed.

[2018-10-29 12:50] szhem opened #300 "Option to prevent deduplicating of already deduplicated vertices or to return already deduplicated ones"
From GraphX jobs, when we have to prepare vertices and edges manually, deduplication of vertices is also performed manually.

So GrapFrames can be fed with already deduplicated vertices, but currently it does not know about it and will deduplicate the vertices one more time.
In case of large amount of vertices (e.g. billions) the time of the second deduplication can be significant.

Moreover the u

[2018-11-03 19:36] maziyarpanahi opened #301 "semi-supervised LPA"
Hi,

Is it possible that nodes be assigned preliminary labels? This can help to find communities where we hand-pick some initial communities.

[2018-11-19 16:19] archienorman11 commented on #267
Is anyone able to provide some clarification on which spark versions are supported? Currenetly having issues running graphframes with `2.3.2` on AWS EMR.

[2018-11-25 19:46] felixcheung commented on #267
if you build this project from source from the latest master, spark 2.3.x is supported

[2018-11-26 13:08] archienorman11 commented on #267
thank you @felixcheung

[2018-11-27 07:19] canopenerda opened #302 "support variant length motif finding where the length is unknown before hand"
I'm using GraphFrame to analyze click streams in a user session. And I would like to find motif from certain vertex to another vertex, and don't know how these two vertexes link together beforehand.

[2018-12-04 09:50] chyh1990 opened #303 "Spark 2.4.x support?"
please provide release package on Spark Packages.

[2019-01-04 23:03] nomiero commented on #113
Same as @jnmiller Unable to use 0.6.0 with Scala 2.11, Spark 2.3.2, sbt 1.2.7
Tried adding
libraryDependencies += "com.typesafe.scala-logging" %% "scala-logging-slf4j" % "2.1.2"
libraryDependencies += "com.typesafe.scala-logging" %% "scala-logging-API" % "2.1.2"
And that didn't help
Any pointers or clues ?

[2019-01-04 23:16] jnmiller commented on #113
Followup -- I can get 0.6.0 to run on EMR (emr-5.19.0, Spark 2.3.2) by just providing `--packages graphframes:graphframes:0.6.0-spark2.3-s_2.11` to `spark-submit` along with my jar that has been compiled with sbt package and `libraryDependencies += "graphframes" % "graphframes" % "0.6.0-spark2.3-s_2.11"`.

**However, I cannot get my code to run on my local machine** (also Spark 2.3.2) for testing

[2019-01-07 11:12] Fungie commented on #159
I believe I'm still seeing this bug. I'm using graphframes 0.6 with spark 2.3 and scala 2.11. If I don't cache the vertex and edge dataframes before running connectedcomponents the output columns components is inconsistent and duplicates component number.

Example using the public febrl dataset.

Output when not cached

![image](https://user-images.githubusercontent.com/16100465/50765136-e472af80-

[2019-01-07 15:55] mengxr commented on #159
@happyelma7 @Fungie Did you use setAlgorithm("graphframes")?

[2019-01-07 16:22] Fungie commented on #159
@mengxr @happyelma7 I used `connected = graph.connectedComponents(algorithm='graphframes')`

Is that the same as calling `setAlgorithm("graphframes")`?

[2019-01-07 20:19] jnmiller commented on #113
Finally!  I was able to solve the `NoClassDefFoundError` when running my tests locally by putting the scala-logging jars on the driver classpath using the following command (replace the given part of the path for your machine):

[code]

@nomiero

[2019-01-08 17:53] mengxr commented on #303
We are going to release 0.7 soon, which will support 2.4.

[2019-01-08 17:53] #303 closed

[2019-01-08 20:55] mengxr opened #315 "Publish 0.7.0 docs"
I deleted graphframes.github.io repo and use gh-pages branch from this repo for hosting docs. Need to update README and a few links after.

cc: @felixcheung @jkbradley

[2019-01-08 21:47] mengxr commented on #315
Done.

[2019-01-08 21:47] #315 closed

[2019-01-08 22:17] ViPet commented on #113
I've had this problem for a few days now, and I solved it just today. In my case, the problem was that graphframes.*.jar was inside the jars folder (in $SPARK_HOME). Even passing all the jars manually with -jars was not successfull. Removing that jar fixed it allowing me to run the program by just including the library with the -packages. Could you take a look at it? just out of curiosity.

[2019-01-12 09:38] mycaule commented on #303
Can you release for Scala 2.12 as well since Spark 2.4 supports Scala 2.12.

https://dl.bintray.com/spark-packages/maven/graphframes/graphframes

[2019-01-12 20:43] mengxr commented on #303
That would be a separate request. We haven't tested Scala 2.12 support in 0.7.0. So we might wait for the next release.

[2019-01-17 20:04] pratiklodha95 commented on #254
@felixcheung @jkbradley @thunterdb @mateiz @phi-dbq @akkicoder

Has there been any updates on this ?

[2019-02-17 21:40] ronflomin opened #321 "Implement custom algorithms"
I want to run the biconnected graph algorithm on a graph using GraphFrames running with pyspark 2.3.

I reaized that all the built in algorithms are running under the hood with GraphX in Scala.

Does there is a way that I can implement the biconnected algorithm in scala - GraphX and than call it on the GraphFrames object?

[2019-02-24 17:00] cronoik opened #322 "Massive shuffle writes during triangleCount"
Hi,
I have a graph with 1.6 million vertices and 30 million edges. The vertices of my graph have 58 attributes apart from their 'id' attribute. Doing a triangleCount on this graph produces 1 terabyte of shuffle writes and abortes with running out disk space.

When I generate this graph without the 58 vertice attributes, the triangleCount finishes successfully and causes only 10 gigabyte of shuffle

[2019-02-24 17:02] cronoik commented on #322
Fixed formatting

[2019-02-24 23:32] felixcheung commented on #322
what's your data format? Unused columns should be skipped/pruned I think

[2019-02-25 14:16] cronoik commented on #322
Hi felixcheung,
thank you for you quick comment. My data looks as follows:
[code]
[code]
I also think that unused columns should be skipped during the calculation of the triangles. The triangleCount requires only g.edges.src, g.edges.dst and g.vertices.id, but your current implementation takes all vertice columns. My proposed change doesn't modify the result of the triangleCount, it is just a perf

[2019-02-28 17:02] ronflomin commented on #159
Hi, does anyone have a solution? I tried everything, caching the vertices and edges before creating the graph, writing them to disk and than reading it, nothing works. I uses GraphFrames 0.7

[2019-02-28 19:08] ronflomin commented on #159
Hi, are you sure it is fixed?I tried everything, caching the vertices and edges before creating the graph, writing them to disk and than reading it, nothing works. I use GraphFrames 0.7, and most of the vertices are assigned to component 0

[2019-02-28 23:23] ali3assi opened #323 "Installation problem"
Hello,
I want to use graphframes fo my project.
Im using an linux SSH sever. So, To run spark, i procced as follows:
1- module load python/2.7.14
2-source "path/to/activate"
3- module load spark/2.3.0
4- spark-submit "path to myscript.py"

Normally, by using the above steps i m able to run spark without any difficuly.

Unfortunatley, Im not able to run graphFrames. What i did is:
1- pyspark --pack

[2019-03-01 03:20] napsternxg opened #324 "feat: support for generating random walks"
Generating random walks from a graph is really useful for a range of algorithms for large scale graphs. E.g. many node embedding algorithms rely on random walks from a node to generate the node's embedding which can then be fed to Spark's word2vec algorithm for generating the model.

Are there any plans for supporting random walks on Graphframes graphs? A reference implementation in scala which is

[2019-03-01 07:00] felixcheung commented on #323
there's no graphframes on maven central
https://repo1.maven.org/maven2/graphframes

so that fails

http://dl.bintray.com/spark-packages/maven/graphframes/graphframes/0.6.0-spark2.3-s_2.11/graphframes-0.6.0-spark2.3-s_2.11.jar

should work though. are you able to access http://dl.bintray.com/spark-packages/?

[2019-03-01 07:03] TamouzeAssi commented on #323
Sorry @felixcheung , can you be more precise. Im newbie in spark

[2019-03-01 07:14] felixcheung commented on #323
check if the computer you are running spark-submit on can see that website

[2019-03-01 07:19] TamouzeAssi commented on #323
you mean if f can run wget
http://dl.bintray.com/spark-packages/maven/graphframes/graphframes/0.6.0-spark2.3-s_2.11/graphframes-0.6.0-spark2.3-s_2.11.jar

if you mean that, yes i can run this command and get the .jar

[2019-03-01 07:42] ronflomin commented on #159
@felixcheung

Hi, are you sure it is fixed?I tried everything, caching the vertices and edges before creating the graph, writing them to disk and than reading it, nothing works. I use GraphFrames 0.7, and most of the vertices are assigned to component 0

[2019-03-01 16:45] ronflomin commented on #159
Is anyone still facing this issue?

[2019-03-01 21:17] nchammas commented on #159
@ronflomin -

1. Can you boil your problem down to a minimal reproduction of the issue?
2. Are you sure that your results are incorrect? How do you know?
3. What version of Spark are you using?

[2019-03-02 06:11] felixcheung commented on #323
hmm, not sure why this message then
[code]

[2019-03-02 08:18] TamouzeAssi commented on #323
@felixcheung im trying to use install graphframes though java. But there is a problem of connection:
`[ERROR] Plugin org.apache.maven.plugins:maven-resources-plugin:2.6 or one of its dependencies could not be resolved: Failed to read artifact descriptor for org.apache.maven.plugins:maven-resources-plugin:jar:2.6: Could not transfer artifact org.apache.maven.plugins:maven-resources-plugin:pom:2.6 f

[2019-03-05 13:15] archienorman11 opened #325 "Version 0.7.0, Spark 2.4 and JupyterHub (EMR) - ClassNotFoundException"
Hi,

Looking for some guidance getting graphframes running on jupyterhub/EMR.

The `jar` is installed:

`graphframes-0.7.0-spark2.4-s_2.11.jar`

And in the notebook:

[code]

So the GraphFrame package is loading. However:

[code]

Results in:

[code]

Any suggestions appreciated.

[2019-03-06 22:41] humehta opened #326 "Executing Pyspark Job"
Hey ,
I have written my code in a file called temp_pyspark.py
What would be the command to execute it?

[2019-03-08 06:55] Cyb3rWard0g commented on #104
If you are using a pyspark kernel for Jupyter. You can do it the following way. I am using:
* Spark 2.4.0
* Graphframes 0.7.0
* notebook=5.7.5
* jupyterlab=0.35.4
* Miniconda3
* path-to-spark: /opt/helk

Steps:
1) Download Graphframes JAR [0.7.0](https://dl.bintray.com/spark-packages/maven/graphframes/graphframes/0.7.0-spark2.4-s_2.11/graphframes-0.7.0-spark2.4-s_2.11.jar)
[code]
2) Copy graphfram

[2019-03-08 15:23] niliafsari commented on #159
Hi, I am also facing this issue too. I'm using Graphframes 0.6 and Spark 2.2. Most of my vertices are assigned to component 0 and I know this is wrong, I checked it with Networkx.  @felixcheung
@mengxr @nchammas @ronflomin

[2019-03-08 15:41] niliafsari commented on #159
I have ~9 million edges and ~8 million nodes with many disconnected components

+-------+---------+
|     id|component|
+-------+---------+
|1000839|        0|
|1000963|        0|
|1006113|        0|
|1013839|        0|
|1017547|        0|
| 101825|        0|
|1018582|      480|
|1019301|        0|
|1020848|        0|
|1024379|        0|
|1026210|        0|
|1026815|        0|
|1028527|        0|

[2019-03-08 19:10] purohitsumit commented on #323
Hi @TamouzeAssi what do you mean by "use install graphframes through java" ? Are you using "mvn" to build your project ? Are you behind any firewall ?

[2019-03-08 20:23] TamouzeAssi commented on #323
@purohitsumit I tried to use maven to download graphframes. Im not behind a firewall

[2019-03-10 04:57] felixcheung commented on #235
I guess the answer/fix is: Spark 2.4.0+

[2019-03-10 19:48] humehta opened #327 "Error: No main class set in JAR; please specify one with --class"
Hello could anyone please help me what the problem is as I am getting this error:

The command I am executing is:

spark-submit --master local[*] --jars scala-logging-slf4j_2.11-2.1.2.jar scala-logging-api_2.11-2.1.1.jar ./lpa.py

Error:
Error: No main class set in JAR; please specify one with --class

[2019-03-10 19:48] #326 closed

[2019-03-11 01:25] krisneupane commented on #104
Thanks Cyb3rWard0g . What is the purpose of having *.zip file since *.jar is already available in jars directory?

[2019-03-11 02:24] Cyb3rWard0g commented on #104
Hey @krisneupane , that is a good question. I add the .zip folder to the PYTHONPATH in my kernel file to also enable the python bindings needed for Graphframes to work. It is similar to using the `--py-files` flag. If I manually download the jar and just add it to the `spark.jars` config or the `~/spark/jars` folder, it cannot find the python dependencies and fails with the following message:

![i

[2019-03-12 23:02] ali3assi opened #328 "Problem in graphframes installation?"
Still facing problem to import graphframes

I m using SSH Linux server, and I load spark by calling `load module spark/2.3.0` before running spark-submit command

if I type the command : `pyspark --packages graphframes:graphframes:0.7.0-spark2.4-s_2.11`

I get
[code]
And i can run the following code by passing one line at time, like:
`>>> e = sqlContext.createDataFrame([("a", "b", "friend"),("b",

[2019-03-14 06:24] TamouzeAssi commented on #172
Hi @hughchristensen  doing your steps above i get the following:

[code]

By the way, i set the variables as follows:
export PYSPARK_PYTHON=python34
export PYTHONPATH=$PYTHONPATH:/C:/graphframes.zip:

can you please help?

[2019-03-15 13:05] patrick-nicholson opened #329 "perf: huge shuffle in motiff finding due to using of structs"
For each unique vertex and edge alias in a motif, GraphFrames currently wraps the entire vertex and edge dataframes, respectively, in aliased structs.

Spark's query planner operates on the entire contents of a struct column. This means that large column sets can be unnecessarily shuffled when they are not needed by the return statement of the query. In some cases, it will also cause dataframes to

[2019-03-15 13:21] patrick-nicholson commented on #329
Here's a quick demonstration:

[code]

Wrapping all columns in a struct means that they're all included in the `motif_query` plan:
[code]
[code]

The manually specified join is much more optimized, using only the columns required by the join conditions and return statement. Notice that for this example we're also able to reuse the shuffle of the vertices dataframe (because there wasn't any filteri

[2019-03-21 15:21] TamouzeAssi commented on #328
@felixcheung please your suggestion if you can

[2019-03-24 21:58] felixcheung commented on #328
hmm, have you tried
`spark-submit utils.py --packages graphframes:graphframes:0.7.0-spark2.4-s_2.11`?

[2019-03-25 05:02] TamouzeAssi commented on #328
@felixcheung in one of my server it works. I just tried:
spark-submit --driver-class-path "path to jar/graphframes-0.7.0-spark2.3-s_2.11.jar"  --jars "/path to /graphframes-0.7.0-spark2.3-s_2.11.jar"   utils.py

But In windows not yet fixed. I dont know exactly which parameter need to be configured.

[2019-03-26 06:37] felixcheung commented on #328
do you have the error log on Windows machine? it might be a problem with Windows in general

[2019-04-14 04:32] mgolinelli opened #331 "Scala 2.12 support"
As mentioned in Spark 2.4.1 documentation:
"For the Scala API, Spark 2.4.1 uses Scala 2.12. You will need to use a compatible Scala version (2.12.x). Support for Scala 2.11 is deprecated as of Spark 2.4.1 and will be removed in Spark 3.0."

Is it possible to provide release package for spark 2.4.1 and scala 2.12 ?

[2019-04-14 17:36] DozenCoder opened #332 "error: type mismatch when create graphframes with Scala API"
I work with Spark2.3.2 and GraphFrames 0.7.0.
I have two dataframe: node2attrDf and edge2attrDf, to generate them code like:https://gist.github.com/superPershing/56928c4f5420ea6334d7a9f6e389bda5

And their schema like this:
[code]
When I create new graphframes with the two dataframe:
[code]
error happens:
[code]
It seems that found type and required type are the same. So why this will happen and h

[2019-04-16 06:18] mohit-udaan commented on #148
(Reviving this request) @felixcheung @aray Any plans for picking this up. Would be a great/practical feature.

[2019-04-20 14:39] purohitsumit opened #333 "A question about multiple filters"
Hi,
Does a chain of filters get combined during the motif query execution OR they are filtered one by one. If it's the 2nd case (which seems inefficient), does graphframes creates intermediary dataframes ?

`g.fing(motif).filter("a != b").filter("b != c")`

And is using column objects to combine multiple conditions more efficient way of using the filters ?

`g.find(motif).filter((col("a") =!= col(

[2019-04-24 17:36] shinalone commented on #325
Same Problem !

[2019-04-24 18:50] shinalone commented on #328
Ooops! ```spark-submit utils.py --packages graphframes:graphframes:0.7.0-spark2.4-s_2.11```

[2019-04-24 19:21] shinalone commented on #328
@felixcheung My log on windows. (**It seems that the program did not exit normally.**)

[code]

[2019-04-25 04:14] felixcheung commented on #328
it looks like it did run - try calling spark.stop()?

[code]

[2019-04-25 05:53] shinalone commented on #328
@felixcheung I did call `spark.stop()`, it is about `delete`.
![image](https://user-images.githubusercontent.com/14334826/56712545-7097dc80-6761-11e9-93c7-34a224ecdd3c.png)

[2019-04-25 11:23] shinalone commented on #328
@felixcheung Now I have another problem. I want to deploy `graphframes` on `yarn` with `root`, but an error has occurred `User root cannot submit applications to queue root.root.root`. Please help me, thanks.

[2019-04-26 07:58] siyuzhiyue opened #334 "can't download dependency by maven repository"
I want to download dependency by maven dependency, but it doesn't work for me.
[code]

[2019-04-26 09:38] siyuzhiyue commented on #334
In pom.xml,I add the repository setting to fix this.

[code]

[2019-04-26 09:38] #334 closed

[2019-05-15 04:10] ali3assi opened #335 "pageRank on weighted graph"
Hello, I wan to ask if there is any implementation of pageRank for weighted graph through grahframes? if not any suggestion?

[2019-05-15 17:21] dataspekulant opened #336 "labelPropagation - edge weights"
Is it possible to run labelPropagation algorithm where edge weights are taken into consideration?

[2019-05-18 09:12] mlaferla commented on #303
can you please tell us when you plan to release an update which works with scala 2.12?

[2019-05-23 11:51] ShuklaPranav commented on #172
Hi

Hi I have tried this on aws emr cluster  and followed the exact process mentioned above but when I import then I get the error
No module named 'graphframes.lib'
Dou you have any idea why is this so.

[2019-05-24 16:14] mengxr commented on #331
@mgolinelli There was a release issue with Spark 2.4.2, which made Scala 2.12 as the default. We fixed the issue with Spark 2.4.3 release, which uses Scala 2.11 as the default.

[2019-05-25 14:37] purohitsumit opened #337 "Find isolated vertex IDs"
Hi All,

What is the best way to find the IDs of isolated Vertices using GraphFrame ? With latest release we can use "dropIsolatedVertices()" to remove them from the graph, but i would also like to know IDs of them.

Thanks

[2019-05-30 10:55] artem-aliev commented on #337
Something like this: get all vertex ids and extract src and dst values:
g.vertices.select("id").except(ng.edges.select($"src" as "id")).except(ng.edges.select($"dst" as "id"))

[2019-06-05 03:30] wwb306 opened #338 "Runtime error: graphframes not found"
I encountered this error when using graphframes: at the beginning, it was running normally, but after a period of time, an error of "No module named 'graphframes'" began to appear, and this error was accidental. Does anyone have the same situation as me?

pyspark-version:2.2.1
graphframes:graphframes-0.6.0-spark2.2-s_2.11.jar
error:
[code]
command：
[code]
Does pyspark remove these jars when it run

[2019-06-12 11:16] choct155 commented on #133
My team is very excited by this project, but we had the same question. To the extent that our volumes make discovering errors at runtime very costly, lack of typing makes GraphX relatively more attractive for our use case (if more restrictive). Knowing if typing is in the works would be greatly appreciated!

[2019-06-14 12:18] seirl opened #339 "feat: provide an alternative big-star -- small-star implementation without limits on amount of edges"
Right now the ConnectedComponents algorithm has a hard limit on the number of edges as an implementation detail: https://github.com/graphframes/graphframes/blob/master/src/main/scala/org/graphframes/lib/ConnectedComponents.scala#L371-L374

At [Software Heritage](https://www.softwareheritage.org/) the graph on which we run this algorithm currently has >100B edges with an exponential growth. We thin

[2019-06-17 20:38] odellus opened #340 "py4j.protocol.Py4JJavaError: An error occurred while calling o58.createGraph."
So I followed the instructions of downloading the jar file, extracting, then zipping and adding the zip file to the `PYTHONPATH` as I can `import graphframes` without issue both from PySpark REPL and within iPython. But the minute I try to call ` GraphFrame(vertices, edges)` I get the following error from iPython when going through this script

[code]
[code]
So it looks like this is an issue loadi

[2019-06-17 21:13] odellus commented on #340
I've tried the
[code]
hack in PySpark REPL and it didn't work for me.

[2019-06-17 21:17] odellus commented on #340
I'm using Python3.7, Spark-2.4.2, and graphframes-0.7.0-spark2.4-s_2.11 is the jar file I'm using.

[2019-06-26 20:13] mohibkhan-nedian commented on #69
@treena123 Can you please tell how did you add GraphFrame dependency? i could not find it in Maven central repository.

[2019-06-27 09:43] YuHandsome commented on #249
Have you found any solution to this problem?I will very appreciate you if you can reply.

[2019-07-08 16:47] salilgupta1 opened #341 "Are there plans to release 0.7.0 on PyPi"
I'd like to install graphframes 0.7.0 via pip but looks like that version isn't up on pypi. Is that going to happen?

[2019-08-02 22:22] MohammadHeydari commented on #172
when i run
[code]
i face with these errors:
[code]
and also

[code]

[2019-08-08 05:24] ilya1245 commented on #69
Java solution:
GraphFrame gf = GraphFrame.apply(verDF, edgeDF);

[2019-08-15 00:25] Zach1993 commented on #331
Any update on the plan to support scala 2.12.x? Hoping to move to a mono repo but we have one tied to 2.11 because we are using graphframes.

[2019-09-03 19:57] michaelzxu commented on #269
Any updates on this?

[2019-09-04 22:12] mckenzig commented on #341
+1

[2019-10-01 18:47] rgogulakrishnan commented on #251
From the graph object, use shortest path algorithm. Put all vertices as landmarks and compute shortest path for all vertices. Then filter the resulting data frame for which vertex you want. This will have a distances column which is similar to subgraph.

[2019-10-03 19:03] suzil commented on #341
How do you install this for Python? There's no setup.py file.

[2019-10-13 10:16] trustiser opened #345 "using GraphFames on java maven project"
I'd like to use GraphFrames with java in my maven project.

in the official documentation they said that APIs are provided for scala, python and JAVA: https://graphframes.github.io/graphframes/docs/_site/index.html

but in real I find only APIs for scala and python!

so my question is: can I realy use GraphFrames with java ?

[2019-10-14 14:00] dennislloydjr opened #346 "Remove unnecessary count from ConnectedComponents"
These lines in Connected Components are only used for logging and the computation of the count can be rather expensive:

[code]

[2019-11-22 21:21] megancooper commented on #333
I also have this question!

[2019-12-03 07:41] HarborZeng commented on #335
GraphX is some kind of weighted.

[2019-12-04 02:34] catmonkeylee opened #350 "Error when use connected component algorithm."
Hi @felixcheung @mateiz @ankurdave @mengxr
I think there is an error when compute the indexedEdges of connectedComponents,  but I don't know the really reason, anybody can help me?

![image](https://user-images.githubusercontent.com/4240306/70053817-348afb00-1611-11ea-92ad-2ebba7f110b7.png)

![image](https://user-images.githubusercontent.com/4240306/70053947-8764b280-1611-11ea-9a26-69d5da0007e1.pn

[2019-12-04 02:46] catmonkeylee commented on #350
I reproduce the problem with code, when call the `indexedEdges` , there is an exception, I don't know why, maybe dirty data?

[code]

[2019-12-04 06:02] catmonkeylee commented on #350
I had resolved this problem, when run the skewedjoin , broadcast was timeout. So I reset the config`spark.sql.broadcastTimeout=1200` , everything is ok.

[2019-12-04 06:02] #350 closed

[2019-12-06 03:47] darionyaphet opened #351 "Why don't merge graphframes into spark repo ?"

[2019-12-12 12:02] fin-ger opened #352 "pyspark: Column is not iterable in graph.bfs"
I am trying to use the `bfs` function inside pyspark. However, passing a column to `fromExpr` and `toExpr` results in `TypeError: Column is not iterable`.

My python code looks like this:

[code]

which results in

[code]

However, the following code in scala works fine:

[code]

It looks to me like the python types are not correctly translated to java types.

## System Information

spark: version

[2019-12-12 17:05] marty90 commented on #253
+1

[2019-12-16 08:47] HarborZeng opened #353 "Feature Request: need udf content for sendMsgToDst/Src and sendToSrc/Dst"
When using `pregel` and `aggragateMessages` function, we usually need to do some complex calculations that `Column` API does not supported yet, like `Vector multiplication`, which cause exceptions like:

[code]

The `Vector` mentioned above is `org.apache.spark.ml.linalg.Vector`.

I would like to expect these 2 apis work like `DataFrame.filter` API, which support `func: T => Boolean` as well as `f

[2019-12-17 01:16] HarborZeng commented on #353
Sorry, I am fool. Column is customizable

[2019-12-17 01:16] #353 closed

[2019-12-19 08:14] steven-aerts commented on #331
There seems to be some progress on this in #344 which is merged on master.

[2020-01-06 07:53] HarborZeng commented on #341
Also noticed that setup.py file content is empty.

[2020-01-31 22:10] ashkan-leo opened #354 "GraphFrames 0.6.0 java.lang.IncompatibleClassChangeError"
I am using GraphFrames 0.6.0, Spark 2.20, and Scala 2.11.12 and when I try to create a graph I get the following error:
[code]

[2020-02-03 19:52] ashkan-leo commented on #354
Closing this issue as it was caused by incompatible libraries in the build file.

[2020-02-03 19:52] #354 closed

[2020-02-07 23:30] geoHeil opened #356 "Reading an edgeList"
Is it possible to create a graph by directly reading from a parquet file based edge list?

Assume one column is named `src` another on `dst` and there are additional columns like `weight`.

https://github.com/apache/spark/blob/a829234df35c87c169425f2c79fd1963b5420888/graphx/src/main/scala/org/apache/spark/graphx/GraphLoader.scala#L59
shows how GraphX can work with textfiles (CSV) format, but I wan

[2020-02-12 19:31] machielg commented on #345
You can find some example code here: https://github.com/GCPBigData/PySpark-ETL/blob/eaa1bfef21208f91abb03ea246140b46b72bc029/apache-spark/src/main/java/com/baeldung/graphframes/GraphExperiments.java

[2020-02-12 19:34] machielg commented on #341
This project is implemented in Scala, the Python code is loaded automatically. For code completion it might be nice to have a python package, but keeping the python code in sync with the jar will be source of much confusion both for this project and users.

[2020-02-12 19:35] machielg commented on #325
How is the jar installed?

[2020-02-24 00:07] kant777 opened #357 "Using UUIDv1 for Connected Components (SPARK-1153)"
Any chance of fixing this one ? https://spark-project.atlassian.net/browse/SPARK-1153 or offer some work around may be?

Currently, I got bunch of events streaming into kafka across various topics and they are stamped with an UUIDv1 for each event. so it is easy to construct edges using UUID. I am not quite sure how to generate a long based unique id without synchronization in a distributed settin

[2020-02-24 09:22] #357 closed

[2020-02-27 07:20] kant777 opened #358 "is there a way to do incremental Connected Components?"
is there a way to do incremental Connected Components?

For example say at time `t1` I have edges Dataset `DS1` for which I computed Connected Components `CC1`. Now say at time `t2` I have edges Dataset `DS2` which can connect to edges in `DS1` How can I make sure I dont recompute connected components on the whole graph every time? My graph is evolving over time so the number of edges and vertices

[2020-03-06 17:45] mariedegen opened #359 "fromGraphX doesn't work properly"
Hello,

I encountered an issue with fromGraphX, I tried the following:

import org.apache.spark.sql._
import org.apache.spark.sql.functions._
import org.graphframes._
import org.apache.spark.sql.Row
import org.apache.spark.graphx.Graph

val g = examples.Graphs.friends
val gx: Graph[Row, Row] = g.toGraphX
val g2: GraphFrame = GraphFrame.fromGraphX(gx)

An error was encountered:
java.lang.Unsupporte

[2020-03-11 17:27] Will-Hardman opened #360 "bug: Graphframes with Structured Streaming results in OOM even with very low data volumes"
I have a simple PySpark structured streaming app that transforms incoming messages into a graph (using GraphFrames). A simplified example of the code is given below.

The code will run for ~50 batches before crashing with a "GC Overhead..." or "Heap size..." error. By this point it will have a graph no larger than 100 vertices and 300 edges.

The logs + traceback shows the labelPropogation() call

[2020-03-21 11:58] architch commented on #358
There are some approaches I could figure out to implement incremental connected component for our use case:
**Approach 1:** Use the CC1 output as edges and append the new edges DS2 to these and run CC over this dataset , this will converge faster hence it should not take much time.
**Approach 2:** Find the distinct nodes from DS2
Join these distinct nodes with CC1 to figure out all the connected c

[2020-03-21 15:54] amuraru commented on #358
Would that work if edges in DS1 are removed? Ie not only additive edges

[2020-03-21 16:22] architch commented on #358
These approaches won’t work if edges are being removed as we are leveraging the output of previous runs.
Only solution is to run on all the edges of they are being removed.

[2020-03-22 08:55] kant777 commented on #358
@architch Thanks a lot for this. I ended up with approach #1 :) but I like approach #3 so I will change mine to approach #3.

How long does it take you to run 20-30 million delta edges?

[2020-03-22 10:13] architch commented on #358
It tool less than 20 min with approach three on above mentioned dataset which is significantly less when running CC on full dataset (around 1.5 hrs).

[2020-03-22 10:22] #358 closed

[2020-03-24 18:49] ndolev commented on #248
Any updates on this? I seem to have the same problem....

[2020-03-25 13:20] tobich commented on #248
We encountered this problem while calling `getCachedDataFrame()` for large graphs. Judging from the stack trace, the problem is serialialization of `scala.collection.immutable.List` which is done recursively (each element in the list adds several levels of stack descend). It seems to be a well known bug described in [JDK-4152790](https://bugs.openjdk.java.net/browse/JDK-4152790). The proposed work

[2020-04-14 20:36] ashishmgofficial opened #362 "Variable-length pattern matching for Motifs for Hierarchical Analysis"
Hi Team,

Reg Graphframes motifs :

It would be great, if variable pattern matching similar to Neo4j syntax is made available in graphframe. There are lot of need for this feature, which is specifically useful for Hierarchical Data analysis.

These can also become helpful for implementing Recurcive CTE in SQL like feature using graphframe

[2020-04-16 21:10] dhanur8 commented on #281
@myDemoMike  Were you able to fix this issue ? @rekhajoshm Did you mean something like , first download the relevant graphframe and save it in aws-S3 and then type --jars "path" in spark submit options ?  I am also getting the same issue as mentioned here.

[2020-04-23 21:57] emitc2h opened #364 "Plans for a release for Spark 2.4.x - scala 2.12?"
Hello!

Is there a reason why there hasn't been a release for scala 2.12 and Spark 2.4.x? Is the support shifting to Spark 3 from now on? If such a release existed, I guarantee there would be interest!

Thanks,
Michel

[2020-04-27 17:44] gnychis commented on #181
Also in favor of this.  This would allow me to track and set different properties for different node types.  Otherwise I create a very large set of properties that are not all applicable to all vertex types.

[2020-05-12 19:59] redsk commented on #364
It would be really great to have a release for scala 2.12 and spark 2.4!

[2020-05-19 19:13] deepaksing05 commented on #159
I was able to fix this issue. even I was getting millions of records having Component 0 id. Initially I converted all my vertex ids in alphanumeric format by hashing each value with Sha2 function. Once done I found that the component 0  had less than 10 records and I thought I had fixed it. Later I found that the Vertices connected with Component 0 had been assigned to a different Component id. Th

[2020-05-31 12:29] shlominielsen commented on #251
@GreGGus did you find a solution for that?
Thanks

[2020-06-01 23:05] mlerner commented on #341
@mengxr: any update on this issue? I'd be more than willing to help out with moving this along!

[2020-06-05 19:27] salilgupta1 commented on #340
We are running into this error on AWS EMR 6.x. We're using python 3.7, Spark 2.4.4 and graphgrames-0.7.0-spark2.4-s_2.11. However, EMR 6.x uses scala 2.12 which I think doesn't work with the release of graphframes that we are using.

[2020-06-12 18:34] adiggsus opened #365 "Feature Request: Order By on graphframe, or create a DataFrame from graphframe"
I would like an order by function on my graphframe object, or alternatively an option to create a DataFrame from a GraphFrame.

This arose for me running PageRank.  I get a list of id's and PageRank scores - I would like to sort those to get the top scoring id's.

On the GraphFrame object, when I use orderBy I get:
AttributeError: 'GraphFrame' object has no attribute 'orderBy'

If I can set a df o

[2020-06-21 11:00] ebressot opened #367 "Error when using shortestPaths in GraphFrames 0.8.0 for Spark 3.0"
I got the following error after upgrading to GraphFrames 0.8.0 for Spark 3.0 from GraphFrames 0.8.0 for Spark 2.4:

AnalysisException: You're using untyped Scala UDF, which does not have the input type information. Spark may blindly pass null to the Scala closure with primitive-type argument, and the closure will see the default value of the Java type for the null argument, e.g. `udf((x: Int) => x